header, .sidebar, .content, .right-block, .footer { 
    padding: 10px;
    border: solid 2px rgb(5, 3, 49); 
    background: #bebeec; 
    
   }


  .flex {
      display: flex;	
      padding: 5px;
      font-weight: bold;
  }
  .flex-item {  
    font-size: 16px;
    margin: 5px;
    padding: 15px;
  }
  
  .header {
    display: block;
    }

/*меню слева*/
   .layout {
    margin: 15px 0; /* Отступы сверху и снизу */ 
    overflow: hidden; /* Отменяем действие float */
    min-width: 800px; 
    max-width: 500px; 
   }

   .sidebar { 
    width: 20%; 
    float: left; 
   }

   .sidebar ul {
    padding: 0; 
   }


   /*основной контент*/
   .content { 
    margin-left: 200px; 
}

   .float-left {
    float:left;
   }

   img {
    width: 300px;
    height: auto;
    border-radius: 10px;
   }



