  body {
  font-family: Montserat;
  font-size: 15pt;
  background-color: #dcdaf5; 
  color: rgb(10, 10, 10); 
  
    text-align:  center; 
     H1  font-size: 30px; 
    H2  font-size: 20px; 
}

.parent {
  margin: 5%; /* Отступы вокруг элемента */
  background:#dcdaf5;
  padding: 5px; /* Поля вокруг текста */
  text-align:  right;
 } 