body {
    margin: 0;
}

header,
.container {
    height: 70px;
    width: 1200px;
    font-family: montserrat;
    margin: 0 auto;
}

main {
    width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    background: url("dog.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: top right;
    font-size: 14px;
    height: 100vh;
}

.name {
    display: flex;
    width: auto;
    margin-left: 250px;
    margin-top: 30px;
}


}
.name ul {
    overflow: hidden;
    padding: 0;
}
.name li:first-child p {
    border-left: 1px solid #ffffff;
}
.name li {
    float: left;
}
.name p {
    padding: 0.24em;
    color: rgb(2, 2, 2);
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}
.logo {
    width: 10px;
    height: 40px;
    margin-top: 1px;
}
.d1 input {
    width: 200px;
    height: 20px;
    border-radius: 20px;
    outline: none;
    background: #FEE46B;
    margin-top: 10px;
}
.d1 {
    width: 5px;
    height: 10px;
    margin-top: 40px;
    margin-left: 60px;
}
.basket {
    width: 10px;
    height: 5px;
    margin-left: 50px;
    margin-top: 40px;
}
.menu-open {
    margin-left: 60px;
    margin-top: 20px;
    background: none;
    display: none;
}
.container {
    height: 70px;
    width: 1100px;
    margin-bottom: 470px;
}
h1 {
    font-size: 30px;
    margin-top: 120px;
    margin-left: -20px;
}
h2 {
    font-size: 25px;
    margin-left: -20px;
}
p1 {
    font-size: 16px;
    margin-top: 40px;
    margin-left: -20px;
}
button {
    font-size: 20px;
    border-radius: 3px;
    font-weight: bold;
    background: #FEE46B;
    padding: .7em 1.5em;
    margin-top: 20px;
    margin-left: -20px;
    border: none;
}
button:hover {
    background: #c0ae0f;
}
button:active {
    background: rgb(253, 175, 6);
}
ul {
    list-style: none;
    margin: 0 auto;
}
li a {
    text-decoration: none;
}
.navigation {
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 99px;
    display: flex;
    margin-top: -139px;
}
.navigation ul {
    overflow: hidden;
    padding: 0;
}
.navigation li {
    float: left;
}
.navigation a {
    display: flex;
    padding: 0.7em;
    border-right: 1px solid #ffffff;
    color: black;
    font-size: 20px;
    margin-right: 100px;
    margin-top: 20px;
}
.navigation a:hover {
    background: #FEE46B;
}
.a3 {
    height: 10px;
    width: 500px;
    margin-top: 50px;
    font-size: 30px;
    margin-left: 55px;
}
.a4 {
    height: 10px;
    width: 500px;
    margin-top: 50px;
    font-size: 30px;
    margin-left: 55px;
}
.dog {
    display: flex;
    margin-left: 20px;
}
.fim {
    width: 190px;
    height: 180px;
    margin-bottom: 10px;
}
.fim1 {
    width: 180px;
    height: 160px;
    margin-bottom: 10px;
}
.cat {
    margin-left: 20px;
    display: flex;
}
.flex-item2 {
    font-size: 30px;
    margin: 12px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 300px;
    text-align: center;
    border-radius: 18px;
    margin-top: 50px;
    align-items: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 300px;
    text-align: center;
    border-radius: 18px;
    display: inline-flex;
    font-size: 16px;
    border-radius: 3px;
    font-weight: medium;
    outline: 0;
    border-radius: 3px;
    text-align: center;
    width: 20px;
    height: 50px;
    font-size: 18px;
    margin: 1px;
}
.flex-item2 p {
    width: 200px;
    color: #000000;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}
.text p {
    font-size: 13px;
    font-weight: none;
    margin-top: 0px;
    font-weight: normal;
    margin-top: -10px;
}
h3 {
    font-size: 12px;
    z-index: 1;
}
.fin {
    width: 180px;
    height: 160px;
    margin-left: 25px;
}
.xit {
    margin: 3px;
    display: flex;
}
.flex-item3 {
    width: 240px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    margin: 20px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}
.xit h5 {
    font-size: 12px;
    ;
    width: 200px;
}
.xit p {
    font-size: 16px;
}
.flex-item4 {
    width: 220px;
    height: 240px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 18px;
    margin-left: 45px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 18px;
    display: inline-flex;
    font-size: 16px;
    border-radius: 3px;
    font-weight: medium;
    outline: 0;
    border-radius: 3px;
    text-align: center;
    width: 20px;
    height: 50px;
    font-size: 18px;
    margin: 1px;
}
.flex-item4 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.action {
    width: 900px;
    height: 90px;
    margin-left: 190px;
    display: flex;
}
.action p {
    font-size: 18px;
    margin-top: 50px;
}
.t p {
    font-size: 12px;
    font-weight: none;
    margin-top: 0px;
    font-weight: normal;
}
.dos {
    width: 900px;
    height: 50px;
}
.tovar {
    margin-left: 270px;
}
.tovar1 {
    margin-left: 560px;
    margin-top: -100px;
}
.tovar2 {
    margin-left: 810px;
    margin-top: -100px;
}
.lapa {
    margin-left: -1500px;
    margin-top: -70px;
}
.lapa1 {
    margin-left: 235px;
    margin-top: -300px;
}
.footer {
    height: 70px;
    width: 1200px;
    margin-top: 70px;
}
.foot {
    display: flex;
    height: 200px;
    width: 1200px;
    margin: 0 auto;
    background: rgb(248, 244, 244);
    margin-top: 200px;
}
.c {
    height: 150px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}
.c1 {
    height: 150px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}
.c2 {
    height: 150px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}
.c3 {
    height: 150px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}
.c4 {
    height: 150px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}
.c1 .h11 {
    font-size: 16px;
    font-weight: bold;
}
.c1.h12 {
    font-size: 10px;
}
.dog label {
    border: 3px solid #FEE46B;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5em 1.5em;
}
.cat label {
    border: 3px solid #FEE46B;
    padding: .1px 1.5em;
    font-size: 16px;
    border-radius: 3px;
    width: 154px;
    height: 30px;
    font-weight: bold;
    padding: 0.5em 1.5em;
}
.xit label {
    border: 3px solid #FEE46B;
    padding: .1px 1.5em;
    font-size: 16px;
    border-radius: 3px;
    width: 154px;
    height: 30px;
    font-weight: bold;
    padding: 0.5em 1.5em;
}
.search {
    margin-top: 55px;
    margin-left: 170px;
}
.adapt,
.adapt_one {
    display: flex;
}

/* Адаптив */
@media only screen and (max-width: 2560px) {
    .menu-block {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .menu-block {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        margin-top: -60px;
        margin-left: 100px;
    }
    
    .logo img {
        margin-left: 50px;
    }
    
    .d1 {
        display: none;
    }
    
    .name {
        margin-left: 300px;
    }
    
    .search {
        margin-left: 120px;
    }
    
    .menu {
        width: 768px;
        background: none;
    }
    
    .navigation {
        width: 750px;
        height: 100px;
        margin-left: 10px;
        margin-top: -250px;
    }
    
    .navigation a {
        margin-right: 0px;
    }
    
    .name p {
        display: none;
    }
    
    .adapt,
    .adapt_one,
    .adapt_two {
        display: none;
    }
    
    .flex-item3 {
        width: 220px;
        margin: 10px;
        margin-left: 20px;
        margin-top: 50px;
    }
    
    .lapa,
    .lapa1 {
        display: none;
    }
    
    .action {
        margin-left: 0px;
    }
    
    .flex-item4 {
        margin-left: 25px;
        margin-top: 10px;
    }
    
    .tovar {
        margin-left: 70px;
        margin-top: 30px;
    }
    
    .tovar1 {
        margin-left: 330px;
    }
    
    .tovar2 {
        margin-left: 560px;
    }
    
    .foot {
        width: 768px;
        height: 300px;
    }
    
    .c h,
    .c1 h,
    .c2 h,
    .c3 h,
    .c4 h {
        font-size: 14px;
    }
    
    .search img {
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 500px) {
    .navigation {
        display: none;
    }
    
    .menu-block {
        display: block;
    }
    
    .search {
        margin-left: -90px;
    }
    
    main {
        width: 500px;
    }
    
    .menu {
        width: 500px;
    }
    
    .search img {
        width: 30px;
        height: 30px;
        margin-top: -10px;
    }
    
    .basket {
        margin-left: 10px;
        display: none;
    }
    
    .logo img {
        margin-left: 10px;
    }
    
    .container h1 {
        font-size: 20px;
    }
    
    .container h2 {
        font-size: 18px;
    }
    
    .container p1 {
        display: none;
    }
    
    .container {
        margin-left: 50px;
        width: 400px;
    }
    
    .container button {
        margin-top: -70px;
    }
    
    .dog,
    .cat,
    .xit {
        display: contents;
    }
    
    .dos,
    .action {
        display: none;
    }
    
    .flex-item2,
    .flex-item3 {
        margin-left: 50px;
    }
    
    .foot {
        width: 500px;
        height: 1000px;
        display: block;
    }
    
    .c,
    .c1,
    .c2,
    .c3,
    .c4 {
        margin-left: 50px;
    }
    
    .nav {
        display: block;
        position: fixed;
        list-style: none;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 350px;
        background-color: #FEE46B;
        transition: right .2s;
        z-index: 2;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        top: 75px;
        bottom: 0;
        height: 500px;
        margin-left: 130px;
    }
    
    .nav li {
        width: 100%;
    }
    
    .btn-menu {
        color: rgb(2, 2, 2);
        background-color: rgb(0, 0, 0);
        padding: 15px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transition: right .23s;
        z-index: 3;
        width: 25px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        background: #FEE46B;
        width: 75px;
    }
    
    .nav a {
        color: #050505;
        text-shadow: none;
    }
    
    .nav a:hover {
        color: #fff;
    }
    
    .right-block {
        display: none;
    }
    
    .a3 {
        margin-top: -300px;
    }
}

/**/
.hidden-menu-ticker {
    display: none;
}
.btn-menu span {
    display: block;
    height: 7px;
    background-color: rgb(0, 0, 0);
    margin: 12px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.btn-menu span.first {
    margin-top: 0;
}
.hidden-menu-ticker:checked~.btn-menu {
    right: 0;
}
.hidden-menu-ticker:checked~.nav {
    right: -800px;
}
.hidden-menu-ticker~.btn-menu span.first,
.hidden-menu-ticker~.btn-menu span.third {
    top: 0;
}
.hidden-menu-ticker:checked~.btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 19px;
}
.hidden-menu-ticker:checked~.btn-menu span.second {
    opacity: 0;
}
.hidden-menu-ticker:checked~.btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -19px;
}