body {
    font: 14px/1 sans-serif;
    padding: 1em;
    margin: 0;
}

.grid {
    width: 1000px;
    display: grid;
    grid: repeat(3, 0fr) / repeat(5, 0fr);
    margin: 1em 0 0;
    border: 1px dashed #555;
    border-bottom: 0;
    border-right: 0;
}

.item {
    color: rgba(0, 0, 0, .5);
    width: 200px;
    height: 200px;
    border: 1px dashed #555;
}

.cell {
    justify-self: stretch;
    align-self: stretch;
    border: 1px dashed #555;
    border-top: 0;
    border-left: 0;
    width: 200px;
    height: 200px;
}

.cell1 {
    justify-self: stretch;
    align-self: stretch;
    border: 1px dashed #555;
    border-top: 0;
    border-left: 0;
    width: 199px;
    height: 199px;
    background: #ffac45;
}