body{
    margin: 0;
    }

    header,
    .container{
    height: 70px;
    width:  1200px;  
    font-family: montserrat;
    margin: 0 auto;
    }

    .fil{
      width: 50px ;
      height: 50px;
      margin-top: 20px;
      }

.logo{
  width: 500px;
height: 100px ;
font-size: 12px;
font-weight: bold;
}

.head{
    display: flex;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 50px; 
}

.rem p{
  width: 200px;
  height: 100px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 75px;
    margin-left: -70px;
    padding: 50px;
    margin-top: 30px;
    margin-left: -105px;
}


.name {
	display: flex;
    width: auto;
    margin-left: 20px;
    margin-top: -55px;
}

.name ul {
	overflow: hidden;
	padding: 0;
}

.name li:first-child a {
	border-left: 1px solid #ffffff;
}

.name li {
	float: left;
}

.name a {
	padding: 0.7em;
	color: rgb(2, 2, 2);
	font-size: 16px;
margin-right: 10px;
font-weight: bold;
}





.content {
  display: inline-block;
  background: #ccc;
  padding: 5px;
}

.hide {
  display: none;
  background: #000;
  color: #fff;
  text-align: center;
}
.content:hover .hide {
  display: block;
}



button {
  font-size: 20px;
  border-radius: 50px;
  font-weight: bold;
  background:  rgb(148, 158, 241); 
  padding: .7em 1.5em; 
  margin-top: 20px;
  margin-left: -20px;
  border: none;
  margin-top: 50px;
  margin-left: 50px;
} 

button:hover { 
  background: #acecee); 
}

button:active { 
  background: rgb(182, 236, 238); 
} 

ul {
	list-style: none; 
	margin: 0 auto;
}


.fim{
  width: 400px;
  height:  300px;
}

.связь{
  font-size: 30px;
  font-weight: bold;
}



.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  margin-top: 50px;
}

.dropdown {
  position: relative;
  margin-top: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #a2e4ec;}


.hed {
  height: 550px;
width:  1000px; 
  display: flex;
  background:  url("s.jpg");	
  background-repeat: no-repeat;
}

.photo{
  display: flex;
  width: 1000px;
  height: 500px;
}

.menu{
  margin-top: -100px;
  margin-left: 50px;
}

.a p{
  width: 650px;
  height: 40px;
  font-size: 30px;
  color: rgb(10, 10, 10);
  font-weight: bold;
  background-color: rgb(148, 158, 241);
  padding: 0.5em;
border-radius: 50px;
}

.photo{
width: 800px;
height: 400px;
display: flex;

}

.tel{
  padding: 20px;
}

.tell{
padding: 20px;
}

.tel p{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;  
  
}

.tell p{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}



.met label{
  font-size: 20px;
  border-radius: 50px;
  font-weight: bold;
  background:  rgb(148, 158, 241); 
  padding: .7em 1.5em; 
  margin-top: 20px;
  margin-left: -20px;
  border: none;
  margin-top: 50px;
  margin-left: 350px;
}