/*скрол */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(212, 198, 198);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(178, 110, 235);
  border-radius: 10px;
}


.checkbox-blue {
    display: inline-block;    
    height: 28px;    
    line-height: 28px;  
    margin-right: 10px;      
    position: relative;
    font-size: 14px;
  }


  .checkbox-blue .checkbox-blue-switch {
    display: inline-block;	
    height: 28px;
    width: 90px;
    box-sizing: border-box;
    position: relative;	
    border-radius: 20px;
    background: #848484;
  }

  .checkbox-blue .checkbox-blue-switch:before {
    content: attr(data-label-on);
    display: inline-block;
    box-sizing: border-box;		
    width: 45px;	
    padding: 0 12px;	
    position: absolute;
    top: 0;
    left: 45px;	
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    line-height: 28px;
  }
  .checkbox-blue .checkbox-blue-switch:after {
    content: attr(data-label-off);
    display: inline-block;
    box-sizing: border-box;	
    width: 44px;	
    border-radius: 10px;	
    position: absolute;
    top: 1px;
    left: 1px;	
    z-index: 5;
    text-align: center;
    background: rgb(241, 235, 240);
    line-height: 26px;
    font-size: 10px;
    color: rgb(35, 23, 202);	
   
  }
  .checkbox-blue input[type="checkbox"] {
    display: block;		
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .checkbox-blue input[type="checkbox"]:checked + .checkbox-blue-switch {
    background-color: #a148bd;
  }
  .checkbox-blue input[type="checkbox"]:checked + .checkbox-blue-switch:before {
    content: attr(data-label-off);
  
  }
  .checkbox-blue input[type="checkbox"]:checked + .checkbox-blue-switch:after {
    content: attr(data-label-on);
    color: #ee5a5a;
    
  }
   



  a {
    text-decoration: none;
    font-family: montserrat;
    text-align: center;
    color: rgb(253, 253, 253);
    position: relative;
    background: #14147c;
    display: block;
    width: 200px;
    height: 50px;
    margin: 80px auto 0;
  }
  

  /* скроем иконку загрузки до наведения на кнопку и текст 
  "Скачать" после наведения на кнопку */
  span {
    overflow: hidden;
  }
 
  em {
    top: 0;
    font-style: normal;
  }
  i.fa {
    top: 100%; 
    font-size: 30px;
    
  }
  a:hover em { 
    top: -100%; 
  }
  a:hover i.fa {
    top: 0;
  }

  a:before, a:after{
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  
  a:before{
    content: attr(data-tooltip);
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #c666da;
    border-radius: 50px;
    bottom: 90px;
  
  }
  /* стили для стрелки */
  a:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #c666da;
    bottom: 70px;
    left: calc(50% - 10px);
  }
  a:hover:before, a:hover:after {
    opacity: 1;
    visibility: visible;
    transition: .1s ease-in-out .3s; /* анимация */
  }
  /* анимация */
  a:hover:before {
    bottom: 70px;
  }
  a:hover:after {
    bottom: 50px;
  }

  


  
  
  
  
 
/*form-registration*/



input:focus {
outline: none;
}

.form-input {
    width:25%;
    margin: 8px 10px 50px 10px;
    display: inline-block;
    border-width: 0;
    border-bottom: 3px solid rgb(142, 91, 224);
    box-sizing: border-box;
    font-family: montserrat;  
}

.form-registration__input {
  outline: none;
  border-style: none;
    border: none;
}

.form-input_type-submit {
    background-color: rgb(161, 156, 233);
    padding: 14px 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: montserrat;
    text-align: center;
    font-weight: bold;
    width: 200px;
    border: 2px solid transparent; 
    margin-left: 60px;
}

.form-input_type-submit:hover {
    background-color: rgba(9, 39, 95, 0.7);
}




.po { 
  width: 900px;
    border: rgb(134, 134, 241) 5px solid;
    padding: 50px;
    margin: 50px 20px 10px 50px;
    overflow-y: scroll;
  
  }


  #class text{
    display: none;
  }


  .class text_1{
display: none;

  }

  #class text:checked + div.text_1 {
    display: none;
    
  }



