body{
   width: 99%;
   height: 100vh;
}

.pl{
height: 100%;
background: url("sun.png");
background-image: url("sun.png"), url("sea.jpg"), url("sky.jpg");
background-repeat: no-repeat;
background-size: 20%,  100%, 100%;
background-position: top center, bottom center, top center;

            
}


           