.text {
    width: 900px;
    border: rgb(134, 134, 241) 5px solid;
    padding: 50px;
}
h1 {
    margin: 5;
}
img {
    width: 400px;
    height: auto;
}
.float-left {
    float:left;
}
.float-right {
    float: right;
}
.fff {
    clear: both;
}