.Block1{
display: block;
    width: 500px;
    height: 250px;
    margin: 10px;
    }

.content{

background: rgb(228, 145, 191);
width: 200px;
    height: 200px;
    position: relative;
    margin: 200px;
    left:50%;
}


