.grid {
    display: grid;
    grid-template-columns: 271px 271px 271px;
    grid-template-rows: 400px 400px;
    justify-content: center;
}

.grid-item1 {
    background: blue;
    grid-row-start: span 2;
    grid-row-end: 1;
    text-align: center;
}

.grid-item1 .gallery__img {
    margin-top: 20px;
    width: 200px;
    margin-bottom: 3px;
    font-weight: 700;
    display: block;
    position: relative;
    margin-left: 30px;
}

.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5 {
    text-align: center;
}

p {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.gallery__img1 {
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

.gallery__img2 {
    width: 159px;
    height: 126px;
    margin-top: 20px;
}

.grid-item2 {
    background: #c95ddf;
}

.grid-item3 {
    background: #ee8cde;
}

.grid-item4 {
    background: #f5a374;
}

.grid-item5 {
    background: #fc0808;
}

.grid-2 h {
    font-size: 13px;
    text-align: center;
    color: #fff;
    justify-content: center;
}