$color: #fff;
$f:13px;
$font: bold;
$text: center;
$font-stack:Arial;
.grid {
    display: grid;
    grid-template-columns: 271px 271px 271px;
    grid-template-rows: 400px 400px;
    justify-content: center;
}

.grid-item1 {
    background: blue;
    grid-row-start: span 2;
    grid-row-end: 1;
    text-align: $text;
    .gallery__img {
        margin-top: 20px;
        width: 200px;
        margin-bottom: 3px;
        font-weight: 700;
        display: block;
        position: relative;
        margin-left: 30px;
    }
}

.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5 {
    text-align: $text;
}

p {
    font-size: $f;
    font-weight: $font;
    text-align: $text;
    color: $color;
}

.gallery__img1 {
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

.gallery__img2 {
    width: 159px;
    height: 126px;
    margin-top: 20px;
}

.grid-item2 {
    background: rgb(201, 93, 223);
}

.grid-item3 {
    background: rgb(238, 140, 222);
}

.grid-item4 {
    background: rgb(245, 163, 116);
}

.grid-item5 {
    background: rgb(252, 8, 8);
}

.grid-2 h {
    font-size: $f;
    text-align: $text;
    color: $color;
    justify-content: center;
}