            $font:14px;
            $fonts: 20px;
            $color: #eaeaeb;
            $fon: bold;
            $colors: #ffffff;
            $w: 1070px;
            $h: 340px;
            body {
                width: 1200px;
                padding: 10px;
                margin: 0 auto;
            }
            
            .menu-block {
                display: flex;
                align-items: flex-end;
            }
            
            ul {
                list-style: none;
                margin: 0 auto;
            }
            
            li a {
                text-decoration: none;
                transition: .5s linear;
            }
            
            nav {
                display: block;
                width: auto;
                margin: 0 auto;
            }
            
            .nav ul {
                overflow: hidden;
                padding: 0;
            }
            
            .nav li {
                float: left;
            }
            
            .nav a {
                display: block;
                padding: 0.7em;
                border-right: 1px solid #ADC0CE;
                color: #fff;
                font-size: 20px;
                text-shadow: 0 0 20px rgb(3, 3, 3);
            }
            
            .nav a:hover {
                background: #f3db6e;
            }
            
            .fon img {
                width: 1200px;
                height: 100%;
                position: fixed;
            }
            
            .head_cont {
                background-color: rgba(29, 29, 32, 0.96);
                height: auto;
                overflow: visible;
                position: relative;
                top: 0;
                font-size: $fon;
                color: $colors;
                width: 1200px;
                height: 60px;
            }
            
            .burger_nav a {
                color: #1d1e20;
                text-shadow: none;
                margin-left: -400px;
                margin-top: 24px;
                text-decoration: none;
                display: table-cell;
            }
            
            .mainnav__core__search {
                background-color: #000;
                color: #eaeaeb;
                display: block;
            }
            
            .explore {
                margin-top: -130px;
            }
            
            .hidden-menu-ticker {
                display: none;
                margin-top: 50px;
            }
            
            .cm-e-menu_one ul li.topmenu a {
                text-decoration: none;
                color: #eaeaeb;
            }
            
            .cm-e-menu_one li {
                position: relative;
                white-space: nowrap;
                cursor: pointer;
                text-transform: capitalize !important;
                list-style: none;
            }
            
            .cm-e-menu_one ul li.topmenu {
                display: inline-table;
                padding: .3em 1em;
                font-size: 14px;
                margin-top: 10px;
            }
            
            .menu-block {
                display: none;
                align-items: flex-end;
            }
            
            .topmenu svg {
                width: 20px;
                color: #edd256;
                margin-top: 10px;
            }
            
            .cm-e-menu_one .topmenu ul {
                display: none;
                position: absolute;
                background-color: #000;
                margin-left: -874px;
                height: 400px;
                width: 1200px;
                z-index: 1;
            }
            
            .submenu_one input {
                width: 648px;
                height: 73px;
                font-size: 50px;
                background-color: currentcolor;
            }
            
            .ss {
                margin-left: 650px;
            }
            
            .submenu_one p {
                margin-left: 200px;
                margin-top: 50px;
            }
            
            .cm-e-menu_one ul li.topmenu a {
                text-decoration: none;
                color: #eaeaeb;
            }
            
            .submenu_one p {
                margin-left: 200px;
                margin-top: 50px;
            }
            
            .cm-e-menu_one li:hover>ul {
                display: table;
            }
            
            .cm-e-menu_one li {
                position: relative;
                white-space: nowrap;
                cursor: pointer;
                text-transform: capitalize !important;
                list-style: none;
                -webkit-transition: background-color ease-in 300ms;
                -moz-transition: background-color ease-in 300ms;
                -ms-transition: background-color ease-in 300ms;
                -o-transition: background-color ease-in 300ms;
                transition: background-color ease-in 300ms;
            }
            
            .cm-e-menu_one ul li.topmenu a {
                text-decoration: none;
                color: #eaeaeb;
            }
            
            .cm-e-menu {
                padding: 20px;
                background-color: #000;
                position: relative;
                z-index: 1000;
                color: #fff;
                font-weight: 200;
                box-shadow: 0 0 10px black;
                margin-top: -10px;
            }
            
            .cm-e-menu_one ul {
                margin: 0;
                padding: 0;
                margin-left: 100px;
                margin-left: 250px;
            }
            
            .hidden-menu-ticker {
                display: none;
            }
            
            .menu-open {
                margin-left: 60px;
                margin-top: 20px;
                background: none;
                display: none;
                width: 100px;
                height: 100px;
            }
            
            .container {
                font-family: Arial, Helvetica, sans-serif;
                margin: 0 auto;
                height: 60px;
                a {
                    color: $colors;
                    padding: 0.7em;
                    text-decoration: none;
                }
            }
            
            .container ul {
                overflow: hidden;
                padding: 0;
                list-style: none;
                li {
                    float: left;
                }
            }
            
            .navigation a {
                display: flex;
                padding: 0.7em;
                border-right: 1px solid #ffffff;
                margin-right: 100px;
                margin-top: 20px;
                list-style-type: none;
            }
            
            .logo svg {
                position: absolute;
                margin-left: 689px;
                height: 226.84px;
                width: 396px;
                color: #edd256;
            }
            
            .head {
                background-color: rgba(29, 29, 32, 0.96);
                height: auto;
                overflow: visible;
                position: relative;
                top: 0;
                font-size: $fon;
                color: $colors;
                background-color: rgba(29, 29, 32, 0.96);
                height: auto;
                overflow: visible;
                position: relative;
                top: 0;
                font-size: $fon;
                color: $colors;
                width: 1200px;
                height: 60px;
            }
            
            .container {
                color: #eaeaeb;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                height: 100%;
                overflow: hidden;
                top: -100%;
                -webkit-transition: top .5s;
                transition: top .5s;
                width: 100%;
                z-index: 2;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                min-height: 60px;
                font-weight: $font;
                padding: 16px 0px;
                margin-left: 350px;
            }
            
            ul {
                display: flex;
                font-size: $font;
            }
            
            .con p {
                width: 684.79px;
                height: 170.67px;
                font-size: 44px;
                margin-left: 50px;
                margin-top: 50px;
                padding-top: 50px;
            }
            
            .cont_adaptive {
                margin-left: 200px;
            }
            /*content*/
            
            main {
                width: 1200px;
                margin: 0 auto;
                position: absolute;
            }
            
            .menu {
                width: 1000px;
                height: 618px;
                background-color: rgba(37, 38, 41, 0.9);
                color: #eaeaeb;
                position: relative;
                margin-top: 228px;
                margin-left: 80px;
            }
            
            .introblock {
                margin-left: 50px;
                color: $colors;
            }
            
            .social_links__icons__icon {
                position: relative;
            }
            
            .cont-text {
                margin-left: 700px;
                margin-top: -250px;
            }
            
            .content-text-one p {
                color: $colors;
                font-size: 22.5px;
                margin-left: 500px;
                margin-top: -400px;
                width: 268.59px;
            }
            
            .content-text-two p {
                font-size: 17.5px;
                color: $colors;
                margin-left: 500px;
            }
            
            .content-text-three p {
                color: $colors;
                font-size: 22.5px;
                margin-left: 500px;
                width: 268.59px;
            }
            
            .content-text-four p {
                color: $colors;
                margin-left: 500px;
                font-size: 17.5px;
            }
            
            .content-text-five p {
                color: $colors;
                font-size: 22.5px;
                margin-left: 500px;
            }
            
            .content-text-six p {
                font-size: 17.5px;
                color: $colors;
                margin-left: 500px;
            }
            
            .l-l {
                background-color: rgba(29, 29, 32, 0.8);
                border: solid 1px #edd256;
                width: 185.95px;
                height: 52.2px;
                font-size: 14px;
                margin-left: 500px;
                position: relative;
                a {
                    text-decoration: none;
                }
                p {
                    font-size: 13px;
                    color: $colors;
                    margin-left: 50px;
                    padding: 5px;
                }
            }
            
            .ex {
                position: relative;
                color: $colors;
                margin-left: 500px;
                padding: 20px;
                letter-spacing: 0.5rem;
                margin-left: 450px;
            }
            
            .content {
                width: 1000px;
                height: 392.4px;
                background: #eaeaeb;
                position: relative;
                margin-left: 80px;
                .white {
                    width: 588px;
                    background: $color;
                    p {
                        font-size: 14px;
                        color: #505050;
                    }
                }
            }
            
            .news img {
                width: 432px;
                height: 393px;
                margin-left: 590px;
                margin-top: -315px;
            }
            
            .home p {
                margin-left: 50px;
                font-size: 32px;
                font-weight: $fon;
            }
            
            .why p {
                margin-left: 50px;
                font-size: 18px;
                color: #505050;
            }
            
            .labe {
                position: relative;
                background-color: #edd256;
                width: 191.61px;
                height: 53.6px;
                font-size: 13px;
                margin-left: 50px;
                font-weight: $fon;
                a {
                    text-decoration: none;
                    text-align: center;
                    p {
                        color: #1d1e20;
                        padding: 15px;
                    }
                }
            }
            
            .label {
                background-color: rgba(29, 29, 32, 0.8);
                border: solid 1px #edd256;
                width: 185.95px;
                height: 52.2px;
                font-size: 14px;
                margin-left: 150px;
                position: relative;
                a {
                    text-decoration: none;
                }
                p {
                    color: $color;
                    margin-left: 30px;
                }
            }
            
            .follow {
                font-size: 13px;
                color: $color;
                margin-left: 50px;
                margin-top: 70px;
            }
            
            .social-network-main {
                display: flex;
                margin-top: 80px;
                .m {
                    margin-left: 80px;
                }
                svg {
                    width: 20.7px;
                    height: 20.7px;
                    color: #edd256;
                    margin: 15px;
                }
            }
            
            .white p {
                padding-top: 50px;
                font-size: 24px;
                margin-left: 50px;
            }
            
            .labe {
                position: relative;
                background-color: #edd256;
                width: 191.61px;
                height: 53.6px;
                font-size: 13px;
                margin-left: 50px;
            }
            
            .explore p {
                position: relative;
                font-size: 68px;
                font-weight: $fon;
                margin-left: 150px;
                margin-top: 72px;
                color: $color;
            }
            
            .while {
                position: relative;
                margin-left: 150px;
                color: $color;
                font-size: 24px;
                margin-top: -50px;
            }
            
            .new {
                position: relative;
                width: 1000px;
                height: 914px;
                background-color: rgba(37, 38, 41, 0.9);
                border-radius: 2px;
                overflow: hidden;
                margin-left: 80px;
            }
            
            .fill,
            .fill_one,
            .fill_two,
            .fill_three,
            .fill_four,
            .fill_five {
                width: 289.85px;
                height: 371.28px;
                margin-top: 50px;
                color: $color;
                h {
                    font-size: 13px;
                }
                p {
                    font-size: 20px;
                }
                p1 {
                    font-size: 14px;
                }
                p2 {
                    font-size: 14px;
                    color: #666;
                }
            }
            
            .fill {
                margin-top: 50px;
            }
            
            .fim {
                width: 220.13px;
                height: 139.15px;
            }
            
            .card,
            .car {
                height: 374.75px;
                display: flex;
                margin-left: 80px;
                padding: 20px;
            }
            
            .car {
                color: $color;
            }
            
            .events,
            .event_one,
            .event_two,
            .event_three,
            .event_six,
            {
                font-size: 14px;
                p {
                    color: #fff5b3;
                    font-size: 14px;
                    margin-top: 20px;
                }
            }
            
            .event {
                font-size: 14px;
                height: 23.2px;
                p {
                    color: #fff5b3;
                    font-size: 14px;
                    margin-top: 40px;
                    padding: 20px;
                    margin-left: -20px;
                }
            }
            
            .il {
                display: flex;
                position: relative;
            }
            
            .VA img {
                position: relative;
            }
            
            .while {
                position: relative;
            }
            
            .content {
                position: relative;
            }
            
            .mail {
                width: 1000px;
                height: 360.33px;
                position: relative;
                background-color: #dee0e2;
                margin: 0;
                margin-left: 80px;
                margin-top: 50px;
            }
            
            .mail svg {
                width: 628px;
                margin-left: 370px;
                color: #cececebf;
            }
            
            .sign {
                margin-top: -390px;
            }
            
            .t p {
                margin-left: -100px;
                margin-top: -15px;
                font-size: 16.25px;
            }
            
            .sign p {
                margin-left: 50px;
                font-size: 40px;
                color: #1d1e20;
                font-weight: $fon;
            }
            
            .hear {
                font-size: 16px;
                margin-left: 50px;
                margin-top: -15px;
            }
            
            .tex-mail {
                margin-left: 50px;
                width: 370px;
                height: 50px;
                font-size: 1rem;
            }
            
            .te {
                margin-left: -150px;
                height: 52px;
                margin-top: -50px;
            }
            
            .latest p {
                position: relative;
                margin-left: 150px;
                font-size: 30px;
                color: $color;
                letter-spacing: 0.5rem;
            }
            
            .block-collection {
                padding: 50px;
            }
            
            .content-foto {
                position: relative;
                display: flex;
                margin-left: -20px;
                img {
                    padding: 20px;
                    width: 261px;
                    height: 180px;
                }
            }
            
            .one {
                margin-left: -350px;
            }
            
            .members {
                a {
                    margin-left: 250px;
                    color: rgb(255, 255, 255);
                }
            }
            
            .card-name {
                position: relative;
                display: flex;
                width: 260px;
                height: 80px;
                background-color: #eaeaeb;
                margin-top: -70px;
                margin-left: 50px;
                p {
                    font-size: 30px;
                }
            }
            
            .card-name-one {
                position: relative;
                display: flex;
                width: 240px;
                height: 80px;
                background-color: #eaeaeb;
                margin-left: 350px;
                margin-top: -80px;
                p {
                    font-size: 30px;
                }
            }
            
            .card-name-two {
                position: relative;
                display: flex;
                width: 240px;
                height: 80px;
                background-color: #eaeaeb;
                margin-top: -80px;
                margin-left: 631px;
                p {
                    font-size: 30px;
                }
            }
            
            .card-name-three {
                position: relative;
                display: flex;
                width: 240px;
                height: 80px;
                background-color: #eaeaeb;
                margin-top: -80px;
                margin-left: 910px;
                p {
                    font-size: 30px;
                }
            }
            
            .card-name-four {
                position: relative;
                display: flex;
                width: 240px;
                height: 80px;
                background-color: #eaeaeb;
                margin-left: 861px;
                margin-top: -80px;
                p {
                    font-size: 30px;
                }
            }
            
            .labelss {
                position: relative;
                margin-left: 500px;
                background-color: rgba(29, 29, 32, 0.8);
                border: solid 1px #edd256;
                width: 442px;
                height: 52.2px;
                margin-left: 150px;
                position: relative;
                margin-top: 50px;
                margin-left: 350px;
                a {
                    text-decoration: none;
                }
                p {
                    font-size: 16.25px;
                    color: $color;
                    text-align: center;
                }
            }
            
            .member img {
                position: relative;
                width: 1200px;
                height: 321.6px;
                margin-top: 50px;
            }
            
            .promo__content {
                position: relative;
                margin-top: -340px;
                width: 1120px;
                height: 321px;
                margin-left: 40px;
                background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(29, 30, 32, 0.5));
                display: block;
            }
            
            .u-btn_one {
                position: relative;
                background-color: #090909;
                width: 201px;
                color: $color;
                height: 52px;
                font-size: 16.25px;
                margin-left: 600px;
                margin-top: -70px;
                p {
                    color: #1d1e20;
                    text-align: center;
                    padding: 15px;
                }
            }
            
            .u-btn {
                position: relative;
                background-color: #ebd36a;
                width: 201px;
                color: $color;
                height: 52px;
                font-size: 16.25px;
                margin-left: 450px;
                margin-top: -70px;
                p {
                    color: #1d1e20;
                    text-align: center;
                    padding: 15px;
                }
            }
            
            .u-btn_one {
                margin-top: 1px;
            }
            
            .shop {
                margin-top: 100px;
            }
            
            .shop img {
                position: relative;
                width: 1200px;
                height: 341.6px;
            }
            
            .f p {
                position: relative;
                font-size: 17.5px;
                margin-left: 400px;
                color: $color;
            }
            
            .b-promo__anchor {
                background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(29, 30, 32, 0.5));
                display: block;
                height: 100%;
                position: relative;
                -webkit-transition: background-color .3s;
                transition: background-color .3s;
                text-decoration: none;
            }
            
            .promo__type {
                margin-left: 500px;
                color: white;
            }
            
            .promo__title {
                margin-left: 150px;
                color: $color;
                font-size: 40px;
            }
            
            .u-btn {
                margin-top: 1px;
            }
            
            .content_adaptive {
                margin-left: -100px;
            }
            
            .fill_one,
            .fill_two,
            {
                margin-top: 50px;
                margin-left: 50px;
                color: $color;
            }
            
            .tex-mail input {
                width: 380px;
                height: 50px;
            }
            /*footer*/
            
            .c-c {
                position: relative;
                width: 1200px;
                height: 1300px;
                margin-left: 40px;
            }
            
            .nav ul {
                margin-left: 100px;
            }
            
            .email {
                font-family: The Sans, Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 32px;
                margin: 0 auto 16px;
                max-width: 689px;
                padding: 0 10px;
                p {
                    font-weight: 700;
                }
                a {
                    text-decoration: none;
                    color: #1d1e20;
                }
            }
            
            .whow a,
            .tex a {
                color: #1d1e20;
            }
            
            .history,
            .whow,
            .missiya,
            .nat,
            .t,
            .r,
            .lnternational,
            .k {
                font-weight: 500;
                line-height: 32px;
                margin: 0 auto 16px;
                width: 689px;
                margin-top: 50px;
                text-align: none;
            }
            
            .still {
                font-weight: 500;
                line-height: 32px;
                margin: 0 auto 16px;
                width: 689px;
                height: 192px;
                margin-left: 230px;
                font-size: 18px;
                ul {
                    display: block;
                }
                li {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 32px;
                    max-width: 689px;
                    margin: 0 0 10px;
                }
            }
            
            .foot {
                position: relative;
                background-color: #1d1e20;
                color: #fff;
                font-size: 13px;
                letter-spacing: .3px;
                line-height: 18px;
                margin-top: 32px;
                position: relative;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                margin-top: 220px;
                width: 1200px;
                height: 880px;
                margin-top: 3950px;
            }
            
            .tex {
                margin-left: 255px;
            }
            
            .note p {
                font-size: 13px;
                width: 300px;
                height: 13px;
                margin-top: 80px;
            }
            
            .fot {
                font-size: 32px;
                font-weight: 600;
                line-height: 36px;
                margin-bottom: 42px;
                width: 1200px;
                height: 32px;
            }
            
            .coll {
                margin-top: 60px;
            }
            
            .size {
                padding-top: 20px;
                width: 250px;
                margin-left: 120px;
            }
            
            .b-footer,
            .b-site {
                color: #edd256;
            }
            
            .back {
                background: #1d1e20;
                border: 1px solid rgb(238, 151, 70);
                border-radius: 2px;
                color: #fff;
                display: inline-block;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 2.5px;
                padding: 20px 15px;
                text-transform: uppercase;
                margin-left: 350px;
                margin-top: 100px;
                z-index: 1;
            }
            
            .d,
            .d1 {
                display: flex;
                margin-left: 500px;
            }
            
            .list_adaptive {
                margin-top: 160px;
                width: 265px;
                height: 17.07px;
                margin-left: 500px;
                margin-top: -200px;
                a {
                    display: flex;
                    color: #edd256;
                    text-decoration: none;
                    margin: 5px 0px;
                }
                p {
                    font-size: 13px;
                }
            }
            
            .plan_adaptive {
                margin-left: 750px;
                margin-top: -30px;
                height: 17.07px;
                a {
                    display: flex;
                    color: #edd256;
                    text-decoration: none;
                    margin: 5px 0px;
                }
                p {
                    font-size: 13px;
                }
            }
            
            .res_adaptive {
                margin-top: -30px;
                width: 265px;
                margin-left: 950px;
                a {
                    display: flex;
                    color: #edd256;
                    text-decoration: none;
                    margin: 5px 0px;
                }
                p {
                    font-size: 13px;
                }
            }
            
            .join_adaptive {
                margin-top: 90px;
                width: 265px;
                margin-left: 500px;
                a {
                    display: flex;
                    color: #edd256;
                    text-decoration: none;
                    margin: 5px 0px;
                }
                p {
                    font-size: 13px;
                }
            }
            
            .com_adaptive {
                margin-top: -130px;
                width: 265px;
                height: 17.07px;
                margin-left: 750px;
                a {
                    display: flex;
                    color: #edd256;
                    text-decoration: none;
                    margin: 5px 0px;
                }
                p {
                    font-size: 13px;
                }
            }
            
            .plan_adaprive {
                margin-top: 160px;
                width: 265px;
                height: 17.07px;
                a {
                    display: flex;
                    color: #edd256;
                    text-decoration: none;
                    margin: 5px 0px;
                }
                p {
                    font-size: 13px;
                }
            }
            
            .family_adaptive {
                margin-left: 950px;
                width: 265px;
                margin-top: -30px;
                a {
                    display: flex;
                    color: #edd256;
                    text-decoration: none;
                    margin: 5px 0px;
                }
                p {
                    font-size: 13px;
                }
            }
            
            .social-network {
                display: flex;
                margin-top: 200px;
                margin-left: 150px;
                svg {
                    width: 20.7px;
                    height: 20.7px;
                    color: #edd256;
                    margin: 15px;
                }
            }
            
            .site-footer {
                margin-left: 150px;
                color: #b7b8b6;
                a {
                    color: #b7b8b6;
                }
            }
            
            .l {
                background-color: #1d1e20;
                border: 2px solid #edd256;
                width: 167.78px;
                height: 59.6px;
                font-size: 13px;
                margin-left: 350px;
                margin-top: -50px;
                a {
                    font-size: 13px;
                    text-align: center;
                    text-decoration: none;
                }
                p {
                    margin-top: -1px;
                    letter-spacing: 2.5px;
                    color: #ffffff;
                    margin-top: 20px;
                }
            }
            
            .logo-footer svg {
                position: absolute;
                margin-left: 755px;
                height: 151px;
                width: 261px;
                color: #505354;
                z-index: 1;
                margin-top: 700px;
            }
            /*adaptive*/
            
            @media only screen and (max-width: 2560px) {
                .abapt_content-foto,
                .abapt_content-foto_one {
                    display: none;
                }
                .submenu_one {
                    display: none;
                }
            }
            
            @media only screen and (max-width: 1200px) {
                width: 1140px;
                padding: 0;
                margin: 0;
                .right-block {
                    display: block;
                    width: 122px;
                }
                .btn-menu {
                    display: none;
                }
                .seach_adapt input {
                    display: none;
                }
                .con nav {
                    display: none;
                }
                .headds {
                    display: none;
                }
                .block-collection_adapt {
                    display: none;
                }
                .abapt_content-foto,
                .abapt_content-foto_one {
                    display: none;
                }
            }
            
            @media only screen and (max-width: 768px) {
                width: 768px;
                padding: 0;
                margin: 0;
                .explore p {
                    font-size: 32px;
                    font-weight: bold;
                    margin-left: 150px;
                    margin-top: 72px;
                    color: #eaeaeb;
                }
                .submenu_one {
                    display: block;
                }
                .block-collection {
                    display: none;
                }
                .explore {
                    margin-top: 0px;
                }
                .abapt_content-foto,
                .abapt_content-foto_one {
                    display: flex;
                    margin-left: 50px;
                    img {
                        width: 302px;
                        height: 172px;
                        padding: 10px;
                    }
                }
                .fim h {
                    margin-left: 50px;
                }
                .abapt_content-foto_one {
                    margin-top: 90px;
                    margin-left: 50px;
                }
                .card-name {
                    margin-left: 60px;
                    margin-top: -300px;
                    width: 302px;
                }
                .card-name-one {
                    width: 302px;
                    margin-left: 382px;
                }
                .card-name-two {
                    width: 302px;
                    margin-left: 60px;
                    margin-top: 200px;
                }
                .card-name-three {
                    width: 302px;
                    margin-left: 382px;
                }
                .block-collection_adapt {
                    display: flex;
                }
                .text {
                    font-size: 19px;
                }
                .main-text {
                    padding: 10px;
                }
                .adaptive_nav {
                    display: block;
                    width: auto;
                    margin: 0 auto;
                    margin-top: -100px;
                }
                .adaptive_nav ul {
                    overflow: hidden;
                    padding: 0;
                    display: flex;
                    margin-left: 100px;
                }
                .adaptive_nav a {
                    text-decoration: none;
                    color: $color;
                    font-size: 14px;
                }
                .list_adaptive {
                    margin-left: -500px;
                    margin-top: 500px;
                }
                .head {
                    width: 768px;
                }
                .search {
                    margin-top: -65px;
                    margin-left: 500px;
                    list-style: none;
                }
                .cm-e-menu_five {
                    position: relative;
                    z-index: 1000;
                    color: #fff;
                    font-weight: 200;
                }
                .cm-e-menu_five .topmenu ul {
                    display: none;
                    position: absolute;
                    background-color: #222;
                }
                .cm-e-menu_five ul li.topmenu {
                    display: inline-table;
                    padding: .3em 1em;
                }
                .cm-e-menu_five li:hover {
                    background-color: #3d3d3d;
                    text-shadow: 0 10px 10px #222;
                }
                .cm-e-menu_five li:hover>ul {
                    display: table;
                    margin-left: -554px;
                    width: 730px;
                    height: 300px;
                }
                .cm-e-menu_five li {
                    position: relative;
                    white-space: nowrap;
                    cursor: pointer;
                    text-transform: capitalize !important;
                    list-style: none;
                    -webkit-transition: background-color ease-in 300ms;
                    -moz-transition: background-color ease-in 300ms;
                    -ms-transition: background-color ease-in 300ms;
                    -o-transition: background-color ease-in 300ms;
                    transition: background-color ease-in 300ms;
                }
                .submenu_one p {
                    margin-left: 100px;
                    margin-top: 50px;
                }
                .submenu_one input {
                    width: 440px;
                    height: 72px;
                    font-size: 40px;
                    background-color: currentcolor;
                }
                .topmenu svg {
                    margin-top: 10px;
                    width: 20px;
                    color: #edd256;
                }
                .cm-e-menu_five li.divider {
                    padding: 0;
                    border-top: 1px solid #343434;
                    margin: .5rem auto .3rem;
                    cursor: default;
                }
                .ss {
                    margin-left: 100px;
                }
                .about {
                    margin-top: -250px;
                    margin-left: -150px;
                }
                .logo svg {
                    width: 254px;
                    height: 146px;
                    margin-left: 490px;
                    margin-top: 0px;
                }
                .container {
                    margin-left: 200px;
                    margin-top: 20px;
                }
                .cont nav {
                    width: 768px;
                }
                .about p {
                    font-size: 32px;
                    margin-left: 220px;
                    margin-top: 250px;
                }
                .haedd {
                    display: none;
                }
                .haedds {
                    display: block;
                    background-color: rgba(29, 29, 32, 0.96);
                    height: 80px;
                    overflow: visible;
                    position: relative;
                    top: 0;
                    font-size: bold;
                    color: #ffffff;
                    width: 768px;
                    height: 80px;
                }
                .block_contents {
                    margin-left: -150px;
                    margin-top: -515px;
                }
                .nav_adaptive {
                    display: block;
                    position: relative;
                }
                .cont nav ul {
                    display: none;
                }
                .text p {
                    margin-left: 10px;
                }
                .lab,
                .label,
                .labele,
                .labelee,
                .labels,
                .labell,
                .labe {
                    margin-left: 100px;
                }
                .fon img {
                    width: 780px;
                }
                .history,
                .whow,
                .missiya,
                .nat,
                .t,
                .r,
                .lnternational,
                .k {
                    font-weight: 500;
                    line-height: 32px;
                    margin: 0 auto 16px;
                    width: 689px;
                    margin-top: 50px;
                    margin-left: 10px;
                }
                .cm-e-menu,
                .cm-e-menu_one {
                    display: none;
                }
                .cont_adaptive {
                    display: block;
                    background-color: black;
                    height: 60px;
                    position: relative;
                    margin-left: 65px;
                    width: 768px;
                    height: 80px;
                }
                .content-text-one p,
                .content-text-two p,
                .content-text-three p,
                .content-text-four p,
                .content-text-five p,
                .content-text-six p,
                .members {
                    margin-left: 250px;
                }
                .l-l {
                    margin-left: 250px;
                    margin-top: 50px;
                }
                .social-network-main {
                    margin-top: 15px;
                }
                .still {
                    font-weight: 500;
                    line-height: 32px;
                    margin: 0 auto 16px;
                    width: 689px;
                    height: 192px;
                    margin-left: 230px;
                    font-size: 18px;
                    margin-left: 10px;
                }
                .mail {
                    margin-left: 0px;
                    width: 768px;
                }
                .mail svg {
                    margin-left: 140px;
                }
                .t p {
                    margin-left: 50px;
                }
                .latest p {
                    width: 608px;
                    height: 80px;
                    font-size: 30px;
                    letter-spacing: 0.5rem;
                }
                .b-promo__anchor {
                    width: 670px;
                    height: 240px;
                    margin-left: 10px;
                }
                .promo__title {
                    width: 650px;
                    height: 180px;
                    margin-left: 50px;
                    p {
                        font-size: 30px;
                        margin-top: 20px;
                    }
                }
                .u-btn {
                    margin-left: 250px;
                    margin-top: -80px;
                }
                .promo__content {
                    width: 670px;
                    height: 240px;
                }
                .promo__type {
                    width: 158px;
                    height: 30px;
                    font-size: 20px;
                    margin-top: 100px;
                    margin-left: 300px;
                }
                .contact,
                .contr,
                .who,
                .mis,
                .cards {
                    margin-top: -30px;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    position: absolute;
                    text-align: center;
                    width: 100%;
                }
                .l {
                    display: none;
                }
                .nav ul a {
                    color: #eaeaeb;
                    display: inline-block;
                    font-smoothing: antialiased;
                    font-weight: 700;
                    line-height: 1.56em;
                    cursor: pointer;
                }
                .fot {
                    margin-left: 100px;
                    margin-top: 50px
                }
                .more {
                    margin-left: 100px;
                }
                .social-network {
                    display: flex;
                    margin-top: 200px;
                    margin-left: 0;
                }
                .list p {
                    margin-left: -280px;
                    margin-top: 50px;
                }
                .res {
                    width: 265px;
                    height: 17.07px;
                }
                .mor {
                    width: 265px;
                    height: 17.07px;
                }
                .contents {
                    width: 768px;
                    height: 6710px;
                    background-color: #ffffff;
                    position: absolute;
                    margin-left: 65px;
                }
                .cm-e-menu_one {
                    display: none;
                }
                .tel img,
                .his img,
                .organiz img,
                .mission img,
                .card img,
                .future img,
                .jobs img,
                .reports img,
                {
                    width: 750px;
                    height: $h;
                    display: block;
                    margin-top: 50px;
                    margin-left: 20px;
                }
                .national img {
                    width: 750px;
                    height: $h;
                    display: block;
                    margin-top: 150px;
                    margin-left: 20px;
                }
                .fon img {
                    width: 768px;
                    height: 100%;
                }
                .foot {
                    width: 768px;
                    height: 100%;
                    margin-left: 1px;
                    margin-top: 4500px;
                }
                .c-c {
                    width: 760px;
                    margin-left: 40px;
                }
                .size {
                    margin-left: -100px;
                }
                .logo-footer svg {
                    margin-left: 570px;
                }
                .join_adaptive {
                    margin-left: 400px;
                    width: 265px;
                    margin-top: -40px;
                }
                .res_adaptive {
                    margin-top: -30px;
                    width: 265px;
                    margin-left: 200px;
                }
                .com_adaptive {
                    margin-top: 80px;
                    width: 265px;
                    height: 17.07px;
                    margin-left: 0px;
                }
                .res_adaptive {
                    margin-top: 210px;
                    width: 265px;
                    height: 17.07px;
                    margin-left: 0px;
                }
                .plan_adaptive {
                    width: 265px;
                    height: 17.07px;
                    margin-left: 400px;
                }
                .family_adaptive {
                    width: 265px;
                    height: 17.07px;
                    margin-left: 400px;
                }
                .list_adaptive {
                    margin-top: -530px;
                    margin-top: 40px;
                    width: 265px;
                    height: 17.07px;
                    margin-left: 0px;
                }
                .site-footer {
                    margin-left: 0px;
                }
                .logo-footer svg {
                    margin-top: 1005px;
                    margin-left: 550px;
                }
                /*****/
                .head_cont {
                    display: none;
                }
                .right-block {
                    display: block;
                    width: 122px;
                }
                .btn-menu {
                    display: none;
                }
                /**/
                .cm-e-menu_for {
                    position: relative;
                    z-index: 1000;
                    color: #fff;
                    font-weight: 200;
                    a {
                        text-decoration: none;
                        color: $color;
                    }
                }
                .cm-e-menu_for ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    margin-left: 80px;
                }
                .cm-e-menu_for li {
                    position: relative;
                    white-space: nowrap;
                    cursor: pointer;
                    text-transform: capitalize !important;
                    list-style: none;
                    -webkit-transition: background-color ease-in 300ms;
                    -moz-transition: background-color ease-in 300ms;
                    -ms-transition: background-color ease-in 300ms;
                    -o-transition: background-color ease-in 300ms;
                    transition: background-color ease-in 300ms;
                    margin-left: 20px;
                    font-size: 14px;
                    margin-top: 15px;
                }
                .cm-e-menu_for li:hover {
                    background-color: #3d3d3d;
                    text-shadow: 0 10px 10px #222;
                }
                .cm-e-menu_for ul li.topmenu {
                    display: inline-table;
                    padding: .3em 1em;
                    margin-left: -90px;
                    margin-top: 25px;
                }
                .cm-e-menu_for .topmenu ul {
                    display: none;
                    position: absolute;
                    background-color: #222;
                }
                .cm-e-menu_for li:hover>ul {
                    display: table;
                }
                .cm-e-menu_for ul.submenu {
                    top: 100%;
                    left: 0;
                    padding-top: .5em;
                    padding-bottom: .5em;
                    box-shadow: 0 0 10px black;
                    margin-left: -100px;
                }
                .cm-e-menu_for ul.submenu .submenu {
                    top: -.5em;
                    left: 100%;
                    font-size: 1em
                }
                .cm-e-menu_for ul.submenu li {
                    font-size: .9rem;
                    margin-top: 10px;
                }
                .cm-e-menu_for li.divider {
                    padding: 0;
                    border-top: 1px solid #343434;
                    margin: .5rem auto .3rem;
                    cursor: default;
                }
                .cm-e-menu_for li.divider:hover {
                    background-color: transparent;
                }
                .cm-e-menu_two {
                    position: relative;
                    z-index: 1000;
                    color: #fff;
                    font-weight: 200;
                    display: flex;
                    padding: 30px;
                    margin-left: 70px;
                }
                .cm-e-menu_two ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    a {
                        text-decoration: none;
                        color: $color;
                        font-size: 14px;
                    }
                }
                .cm-e-menu_two li {
                    position: relative;
                    white-space: nowrap;
                    cursor: pointer;
                    text-transform: capitalize !important;
                    list-style: none;
                    -webkit-transition: background-color ease-in 300ms;
                    -moz-transition: background-color ease-in 300ms;
                    -ms-transition: background-color ease-in 300ms;
                    -o-transition: background-color ease-in 300ms;
                    transition: background-color ease-in 300ms;
                    margin-left: 50px;
                    font-size: 14px;
                }
                .cm-e-menu_two li:hover {
                    background-color: #3d3d3d;
                    text-shadow: 0 10px 10px #222;
                }
                .cm-e-menu_two ul li.topmenu_two {
                    display: inline-table;
                    padding: .3em 1em;
                }
                .cm-e-menu_two .topmenu_two ul {
                    display: none;
                    position: absolute;
                    background-color: #222;
                }
                .cm-e-menu_two li:hover>ul {
                    display: table;
                }
                .cm-e-menu_two ul.submenu_two {
                    top: 100%;
                    left: 0;
                    padding-top: .5em;
                    padding-bottom: .5em;
                    box-shadow: 0 0 10px black;
                }
                .cm-e-menu_two ul.submenu_two .submenu_two {
                    top: -.5em;
                    left: 100%;
                    font-size: 1em
                }
                .cm-e-menu_two ul.submenu_two li {
                    padding: .2em 1.5em;
                    font-size: .9rem;
                    margin-left: 0px;
                }
                .cm-e-menu_two li.divider {
                    padding: 0;
                    border-top: 1px solid #343434;
                    margin: .5rem auto .3rem;
                    cursor: default;
                }
                .cm-e-menu_two li.divider:hover {
                    background-color: transparent;
                }
                .cont {
                    position: relative;
                    margin-top: 659px;
                    width: 1000px;
                    margin-left: 85px;
                }
                .adaptive_nav {
                    display: block;
                    width: auto;
                    margin: 0 auto;
                    margin-top: -100px;
                }
                .adaptive_nav ul {
                    overflow: hidden;
                    padding: 0;
                    display: flex;
                    margin-left: 100px;
                }
                .adaptive_nav a {
                    text-decoration: none;
                    color: $color;
                    font-size: 14px;
                }
                .list_adaptive {
                    margin-left: -500px;
                    margin-top: 500px;
                }
                .head {
                    width: 768px;
                }
                .about {
                    margin-top: -250px;
                    margin-left: -150px;
                }
                .container {
                    margin-left: 200px;
                    margin-top: 20px;
                }
                .cont nav {
                    width: 768px;
                }
                .about p {
                    font-size: 32px;
                    margin-left: 220px;
                    margin-top: 250px;
                }
                .haedd {
                    display: none;
                }
                .haedds {
                    display: block;
                    background-color: rgba(29, 29, 32, 0.96);
                    height: 80px;
                    overflow: visible;
                    position: relative;
                    top: 0;
                    font-size: bold;
                    color: #ffffff;
                    width: 768px;
                    height: 80px;
                }
                .block_contents {
                    margin-left: -150px;
                    margin-top: -515px;
                }
                .nav_adaptive {
                    display: block;
                    position: relative;
                }
                .cont nav ul {
                    display: none;
                }
                .text p {
                    margin-left: 10px;
                }
                .lab,
                .label,
                .labele,
                .labelee,
                .labels,
                .labell,
                .labe {
                    margin-left: 100px;
                }
                .fon img {
                    width: 780px;
                }
                .history,
                .whow,
                .missiya,
                .nat,
                .t,
                .r,
                .lnternational,
                .k {
                    font-weight: 500;
                    line-height: 32px;
                    margin: 0 auto 16px;
                    width: 689px;
                    margin-top: 50px;
                    margin-left: 10px;
                }
                .cm-e-menu,
                .cm-e-menu_one {
                    display: none;
                }
                .cont_adaptive {
                    display: block;
                    background-color: black;
                    height: 60px;
                    position: relative;
                    margin-left: 65px;
                    width: 768px;
                    height: 80px;
                }
                .still {
                    font-weight: 500;
                    line-height: 32px;
                    margin: 0 auto 16px;
                    width: 689px;
                    height: 192px;
                    margin-left: 230px;
                    font-size: 18px;
                    margin-left: 10px;
                }
                .contact,
                .contr,
                .who,
                .mis,
                .cards {
                    margin-top: -30px;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    position: absolute;
                    text-align: center;
                    width: 100%;
                }
                .l {
                    background-color: #1d1e20;
                    border: 2px solid #edd256;
                    width: 167.78px;
                    height: 59.6px;
                    font-size: 13px;
                    margin-left: 350px;
                    margin-top: -50px;
                }
                .nav ul a {
                    color: #eaeaeb;
                    display: inline-block;
                    font-smoothing: antialiased;
                    font-weight: 700;
                    line-height: 1.56em;
                    cursor: pointer;
                }
                .fot {
                    margin-left: 100px;
                    margin-top: 50px
                }
                .more {
                    margin-left: 100px;
                }
                .social-network {
                    display: flex;
                    margin-top: 200px;
                    margin-left: 0;
                }
                .list p {
                    margin-left: -280px;
                    margin-top: 50px;
                }
                .res {
                    width: 265px;
                    height: 17.07px;
                }
                .mor {
                    width: 265px;
                    height: 17.07px;
                }
                .contents {
                    width: 768px;
                    height: 6710px;
                    background-color: #ffffff;
                    position: absolute;
                    margin-left: 65px;
                }
                .cm-e-menu_one {
                    display: none;
                }
                .tel img,
                .his img,
                .organiz img,
                .mission img,
                .card img,
                .future img,
                .jobs img,
                .reports img,
                {
                    width: 750px;
                    height: $h;
                    display: block;
                    margin-top: 50px;
                    margin-left: 20px;
                }
                .national img {
                    width: 750px;
                    height: $h;
                    display: block;
                    margin-top: 150px;
                    margin-left: 20px;
                }
                .fon img {
                    width: 768px;
                    height: 100%;
                }
                .foot {
                    width: 768px;
                    height: 100%;
                    margin-left: 1px;
                }
                .c-c {
                    width: 760px;
                    margin-left: 40px;
                }
                .size {
                    margin-left: -100px;
                }
                .logo-footer svg {
                    margin-left: 570px;
                }
                .join_adaptive {
                    margin-left: 400px;
                    width: 265px;
                    margin-top: -40px;
                }
                .res_adaptive {
                    margin-top: -30px;
                    width: 265px;
                    margin-left: 200px;
                }
                .com_adaptive {
                    margin-top: 80px;
                    width: 265px;
                    height: 17.07px;
                    margin-left: 0px;
                }
                .res_adaptive {
                    margin-top: 210px;
                    width: 265px;
                    height: 17.07px;
                    margin-left: 0px;
                }
                .plan_adaptive {
                    width: 265px;
                    height: 17.07px;
                    margin-left: 400px;
                }
                .family_adaptive {
                    width: 265px;
                    height: 17.07px;
                    margin-left: 400px;
                }
                .list_adaptive {
                    margin-top: -530px;
                    margin-top: 40px;
                    width: 265px;
                    height: 17.07px;
                    margin-left: 0px;
                }
                .site-footer {
                    margin-left: 0px;
                }
                .logo-footer svg {
                    margin-top: 1005px;
                    margin-left: 550px;
                }
                /*****/
                .head_cont {
                    display: none;
                }
                .right-block {
                    display: block;
                    width: 122px;
                }
                .btn-menu {
                    display: none;
                }
                /**/
                .cm-e-menu_for {
                    position: relative;
                    z-index: 1000;
                    color: #fff;
                    font-weight: 200;
                    a {
                        text-decoration: none;
                        color: $color;
                    }
                }
                .cm-e-menu_for ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    margin-left: 80px;
                }
                .cm-e-menu_for li {
                    position: relative;
                    white-space: nowrap;
                    cursor: pointer;
                    text-transform: capitalize !important;
                    list-style: none;
                    -webkit-transition: background-color ease-in 300ms;
                    -moz-transition: background-color ease-in 300ms;
                    -ms-transition: background-color ease-in 300ms;
                    -o-transition: background-color ease-in 300ms;
                    transition: background-color ease-in 300ms;
                    margin-left: 20px;
                    font-size: 14px;
                    margin-top: 15px;
                }
                .cm-e-menu_for li:hover {
                    background-color: #3d3d3d;
                    text-shadow: 0 10px 10px #222;
                }
                .cm-e-menu_for ul li.topmenu {
                    display: inline-table;
                    padding: .3em 1em;
                    margin-left: -90px;
                    margin-top: 25px;
                }
                .cm-e-menu_for .topmenu ul {
                    display: none;
                    position: absolute;
                    background-color: #222;
                }
                .cm-e-menu_for li:hover>ul {
                    display: table;
                }
                .cm-e-menu_for ul.submenu {
                    top: 100%;
                    left: 0;
                    padding-top: .5em;
                    padding-bottom: .5em;
                    box-shadow: 0 0 10px black;
                    margin-left: -100px;
                }
                .cm-e-menu_for ul.submenu .submenu {
                    top: -.5em;
                    left: 100%;
                    font-size: 1em
                }
                .cm-e-menu_for ul.submenu li {
                    font-size: .9rem;
                    margin-top: 10px;
                }
                .cm-e-menu_for li.divider {
                    padding: 0;
                    border-top: 1px solid #343434;
                    margin: .5rem auto .3rem;
                    cursor: default;
                }
                .cm-e-menu_for li.divider:hover {
                    background-color: transparent;
                }
                .cm-e-menu_two {
                    position: relative;
                    z-index: 1000;
                    color: #fff;
                    font-weight: 200;
                    display: flex;
                    padding: 30px;
                    margin-left: 70px;
                }
                .cm-e-menu_two ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    a {
                        text-decoration: none;
                        color: $color;
                        font-size: 14px;
                    }
                }
                .cm-e-menu_two li {
                    position: relative;
                    white-space: nowrap;
                    cursor: pointer;
                    text-transform: capitalize !important;
                    list-style: none;
                    -webkit-transition: background-color ease-in 300ms;
                    -moz-transition: background-color ease-in 300ms;
                    -ms-transition: background-color ease-in 300ms;
                    -o-transition: background-color ease-in 300ms;
                    transition: background-color ease-in 300ms;
                    margin-left: 50px;
                    font-size: 14px;
                }
                .cm-e-menu_two li:hover {
                    background-color: #3d3d3d;
                    text-shadow: 0 10px 10px #222;
                }
                .cm-e-menu_two ul li.topmenu_two {
                    display: inline-table;
                    padding: .3em 1em;
                }
                .cm-e-menu_two .topmenu_two ul {
                    display: none;
                    position: absolute;
                    background-color: rgb(0, 0, 0);
                }
                .cm-e-menu_two li:hover>ul {
                    display: table;
                }
                .cm-e-menu_two ul.submenu_two {
                    top: 100%;
                    left: 0;
                    padding-top: .5em;
                    padding-bottom: .5em;
                    margin-left: -120px;
                }
                .cm-e-menu_two ul.submenu_two .submenu_two {
                    top: -.5em;
                    left: 100%;
                    font-size: 1em
                }
                .cm-e-menu_two ul.submenu_two li {
                    padding: .2em 1.5em;
                    font-size: .9rem;
                    margin-left: 0px;
                }
                .cm-e-menu_two li.divider {
                    padding: 0;
                    border-top: 1px solid #343434;
                    margin: .5rem auto .3rem;
                    cursor: default;
                }
                .cm-e-menu_two li.divider:hover {
                    background-color: transparent;
                }
                .cont {
                    position: relative;
                    margin-top: 659px;
                    width: 1000px;
                    margin-left: 85px;
                }
                .explore p {
                    font-size: 56px;
                    margin-left: 80px;
                }
                .while {
                    margin-left: 80px;
                    font-size: 20px;
                }
                .label {
                    margin-left: 80px;
                }
                .menu {
                    width: 768px;
                    height: 711px;
                    margin-left: 0px;
                    margin-top: 145px;
                }
                .con p {
                    width: 350px;
                    height: 260px;
                    margin-left: 50px;
                    font-size: 40px;
                }
                .ex {
                    margin-left: 200px;
                }
                .new {
                    width: 768px;
                    height: 1300px;
                    margin-left: 0px;
                }
                .f p {
                    margin-left: 150px;
                }
                .shop img,
                {
                    width: 768px;
                    height: 250px;
                }
                .member img,
                {
                    width: 768px;
                    height: 250px;
                }
                .labelss {
                    margin-left: 150px;
                }
                .fill img,
                .fill_one img,
                .fill_two img,
                .fill_three img,
                .fill_four img,
                .fill_five img {
                    width: 287px;
                    height: 172px;
                }
                .adapt,
                .adapt_one {
                    display: block;
                }
                .fill img,
                .fill_one img {
                    margin-top: 0px;
                    margin-left: 0px;
                }
                .card {
                    margin-left: 50px;
                }
                .fill_two {
                    margin-top: 420px;
                    margin-left: -660px;
                }
                .fill_three {
                    margin-left: 300px;
                }
                .fill_four {
                    margin-top: 450px;
                    margin-left: -640px;
                }
                .fill_five {
                    margin-top: 450px;
                    margin-left: -290px;
                }
                .fill_two h,
                .fill_two p,
                .fill_two p2 {
                    margin-left: 23px;
                }
                .event {
                    margin-left: -10px;
                }
                .ss {
                    margin-left: 450px;
                    margin-top: -70px;
                    p {
                        color: #979393;
                    }
                }
                .cm-e-menu_five li:hover {
                    background-color: #3d3d3d;
                    text-shadow: 0 10px 10px #22;
                }
            }
            
            @media only screen and (max-width: 545px) {
                .menu-block {
                    display: flex;
                    align-items: flex-end;
                }
                ul {
                    list-style: none;
                    margin: 0 auto;
                }
                li a {
                    text-decoration: none;
                    transition: .5s linear;
                }
                nav {
                    display: block;
                    width: auto;
                    margin: 0 auto;
                }
                .nav ul {
                    /*background: #D4E7EE;*/
                    overflow: hidden;
                    padding: 0;
                }
                .nav li:first-child a {
                    border-left: 1px solid #ADC0CE;
                }
                .nav li {
                    float: left;
                }
                .nav a {
                    display: block;
                    padding: 0.7em;
                    color: #fff;
                    font-size: 20px;
                    text-shadow: 0 0 20px rgb(26, 27, 27);
                }
                .nav a:hover {
                    background: #feffff;
                }
                .hidden-menu-ticker {
                    display: block;
                }
                .btn-menu {
                    display: block;
                    color: #fff;
                    background-color: black;
                    padding: 15px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    transition: right .23s;
                    z-index: 3;
                    width: 25px;
                    -webkit-transform: translateZ(0);
                    -webkit-backface-visibility: hidden;
                    background: #1d1e20;
                    width: 75px;
                    position: relative;
                    margin-left: 420px;
                    margin-top: 7px;
                }
                .hidden-menu-ticker:checked~.btn-menu {
                    right: 0;
                }
                .hidden-menu-ticker:checked~.burger_nav {
                    right: -900px;
                }
                .btn-menu span {
                    display: block;
                    height: 7px;
                    background-color: #FEE46B;
                    margin: 12px 0 0;
                    transition: all .1s linear .23s;
                    position: relative;
                }
                .burger_nav {
                    display: block;
                    position: fixed;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    width: 400px;
                    background-color: #FEE46B;
                    transition: right .2s;
                    z-index: 2;
                    -webkit-transform: translateZ(0);
                    -webkit-backface-visibility: hidden;
                    top: 15px;
                    bottom: 0;
                    height: 600px;
                    margin-top: 75px;
                    margin-left: 0px;
                    width: 545px;
                    height: 800px;
                }
                .right-block {
                    display: block;
                    width: 122px;
                }
                .burger_nav li {
                    width: 100%;
                    text-align: center;
                }
                .burger_nav a {
                    color: #1d1e20;
                    text-shadow: none;
                    margin-left: -400px;
                    margin-top: 24px;
                    text-decoration: none;
                    display: table-cell;
                }
                .burger_nav a:hover {
                    color: #fff;
                }
                .right-block {
                    display: block;
                    width: 600px;
                    height: 100px;
                }
                .burger_nav ul {
                    overflow: hidden;
                    padding: 0;
                    display: contents;
                }
                .burger_nav li {
                    width: 100%;
                    text-align: center;
                }
                .burger_nav svg {
                    width: 300px;
                    margin-left: 232px;
                    margin-top: 110px;
                    color: #797979;
                }
                .menu,
                .new,
                .foot {
                    width: 545px;
                }
                .abapt_content-foto {
                    display: table-caption;
                    margin-left: -45px;
                }
                .abapt_content-foto img {
                    width: 402px;
                    height: 230px;
                    padding: 50px;
                    margin-left: 50px;
                }
                .abapt_content-foto_one {
                    display: inline-grid;
                }
                .u-btn_one {
                    position: relative;
                    background-color: #090909;
                    width: 388px;
                    color: #eaeaeb;
                    height: 52px;
                    font-size: 16.25px;
                    margin-left: 200px;
                    margin-top: 80px;
                }
                .t p {
                    margin-left: 40px;
                    margin-top: 90px;
                }
                .mail svg {
                    display: none;
                }
                .card-name {
                    margin-top: -1050px;
                    width: 402px;
                    height: 84px;
                }
                .sign {
                    margin-top: 0px;
                }
                .card-name-one {
                    margin-top: 250px;
                    width: 402px;
                    height: 84px;
                    margin-left: 55px;
                }
                .card-name-three {
                    margin-top: 245px;
                    width: 402px;
                    height: 84px;
                    margin-left: 55px;
                }
                .haedds {
                    display: none;
                }
                .logo svg {
                    margin-left: 290px;
                }
                .explore p {
                    font-size: 32px;
                }
                .while {
                    display: none;
                }
                .label {
                    border: none;
                    margin-left: 50px;
                    p {
                        padding: 15px;
                        margin-left: 20px;
                    }
                }
                .mail {
                    width: 545px;
                    height: 480px;
                }
                .block {
                    height: 250px;
                    background-color: #000;
                    margin-top: 0px;
                }
                .sign p {
                    font-size: 22px;
                    margin-top: 50px;
                    padding: 10px;
                }
                .hear {
                    font-size: 20px;
                    width: 500px;
                    margin-top: 50px;
                }
                .seach_adapt input {
                    display: block;
                    margin-left: 50px;
                    width: 400px;
                    height: 50px;
                    margin-top: 50px;
                    background-color: currentcolor;
                }
                .burger_nav li {
                    width: 100%;
                    text-align: center;
                    margin-left: 10px;
                    margin-top: 10px;
                }
                .burger_nav a {
                    color: #8a8a8a;
                    text-shadow: none;
                    margin-left: -400px;
                    margin-top: 24px;
                    text-decoration: none;
                    display: table-cell;
                    font-size: 24px;
                }
                .ss p {
                    margin-left: -20px;
                    margin-top: 30px;
                }
                .con {
                    p {
                        font-size: 40px;
                        width: 535px;
                        margin-left: 20px;
                    }
                }
                .men {
                    margin-top: -90px;
                    margin-left: -30px;
                }
                .explore {
                    margin-top: -20px;
                    margin-left: -30px;
                }
                .content-text-one {
                    margin-left: -460px;
                }
                .content-text-two p {
                    margin-left: -210px;
                }
                .content-text-three {
                    width: 223px;
                    height: 80px;
                    margin-top: -90px;
                    margin-left: -220px;
                }
                .content-text-four {
                    margin-left: -220px;
                }
                .members a {
                    margin-left: -110px;
                }
                .content-text-five {
                    margin-left: -450px;
                }
                .content-text-six {
                    margin-left: -450px;
                }
                .menu {
                    height: 770px;
                }
                .follow {
                    margin-top: 390px;
                    margin-left: 40px;
                }
                .social-network-main {
                    margin-left: 0px;
                }
                .l-l {
                    margin-left: 50px;
                    margin-top: -50px;
                }
                .fon img {
                    width: 545px;
                }
                .ex {
                    margin-left: 100px;
                }
                .new {
                    height: 2750px;
                }
                .fill {
                    width: 406px;
                    height: 431px;
                    img {
                        width: 374px;
                        height: 215px;
                    }
                }
                .fill_one {
                    width: 406px;
                    height: 431px;
                    margin-top: 500px;
                    margin-left: -410px;
                    img {
                        width: 374px;
                        height: 215px;
                    }
                }
                .fill_two {
                    width: 406px;
                    height: 431px;
                    margin-top: 900px;
                    margin-left: -420px;
                    img {
                        width: 374px;
                        height: 215px;
                    }
                }
                .fill_three {
                    width: 406px;
                    height: 431px;
                    margin-top: 900px;
                    margin-left: -20px;
                    img {
                        width: 374px;
                        height: 215px;
                    }
                }
                .fill_four {
                    width: 406px;
                    height: 431px;
                    margin-top: 1350px;
                    margin-left: -400px;
                    img {
                        width: 374px;
                        height: 215px;
                    }
                }
                .fill_five {
                    width: 406px;
                    height: 431px;
                    margin-top: 1800px;
                    margin-left: -400px;
                    img {
                        width: 374px;
                        height: 215px;
                    }
                }
                .latest p {
                    margin-left: 50px;
                }
                .foot {
                    margin-top: 6750px;
                }
                .f p {
                    margin-left: 50px;
                }
                .member img,
                .shop img {
                    width: 545px;
                    height: 250px;
                }
                .promo__content {
                    width: 535px;
                    height: 250px;
                    margin-left: -50px;
                }
                .promo__title {
                    margin-left: 0px;
                    p {
                        margin-left: 50px;
                        width: 535px;
                    }
                }
                .b-promo__anchor {
                    width: 535px;
                    height: 250px;
                }
                .labelss {
                    margin-left: 50px;
                }
                .abapt_content-foto_one {
                    margin-top: -10px;
                    img {
                        width: 402px;
                        height: 230px;
                        padding: 50px;
                        margin-left: -45px;
                    }
                }
                .card-name-two {
                    width: 402px;
                    height: 84px;
                    margin-top: 250px;
                    margin-left: 55px;
                }
                .list {
                    width: 265px;
                    height: 17.07px;
                }
                .plan_adaptive {
                    width: 265px;
                    height: 17.07px;
                    margin-left: 250px;
                }
                .join_adaptive {
                    margin-left: 250px;
                }
                .family_adaptive {
                    margin-left: 250px;
                }
                .logo-footer svg {
                    margin-top: 1105px;
                    margin-left: 340px;
                }
                .nav {
                    display: block;
                    position: fixed;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    width: 320px;
                    background-color: #a4c8d0;
                    right: -320px;
                    transition: right .2s;
                    z-index: 2;
                    -webkit-transform: translateZ(0);
                    -webkit-backface-visibility: hidden;
                    top: 75px;
                    bottom: 0;
                }
                .nav li {
                    width: 100%;
                    text-align: center;
                }
                .nav a {
                    border-bottom: 1px solid #ddd;
                    color: #003c69;
                    text-shadow: none;
                }
                .nav a:hover {
                    color: #fff;
                }
                .right-block {
                    display: none;
                }
            }
            /**/
            
            .hidden-menu-ticker {
                display: block;
            }
            
            .btn-menu span.first {
                margin-top: 0;
            }
            
            .hidden-menu-ticker:checked~.btn-menu {
                right: 0;
            }
            
            .hidden-menu-ticker:checked~.nav {
                right: 0;
            }
            
            .hidden-menu-ticker~.btn-menu span.first,
            .hidden-menu-ticker~.btn-menu span.third {
                top: 0;
            }
            
            .btn-menu span {
                display: block;
                height: 7px;
                background-color: #FEE46B;
                margin: 12px 0 0;
                transition: all .1s linear .23s;
                position: relative;
            }
            
            .burger_nav ul {
                overflow: hidden;
                padding: 0;
                display: contents;
            }
            
            .hidden-menu-ticker:checked~.btn-menu span.first {
                -webkit-transform: rotate(45deg);
                top: 19px;
            }
            
            .hidden-menu-ticker:checked~.btn-menu span.second {
                opacity: 0;
            }
            
            .hidden-menu-ticker:checked~.btn-menu span.third {
                -webkit-transform: rotate(-45deg);
                top: -19px;
            }