body {
  width: 1200px;
  padding: 10px;
  margin: 0 auto; }

.fon img {
  width: 1200px;
  height: 100%;
  position: fixed; }

.container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  height: 60px; }
  .container a {
    color: #ffffff;
    padding: 0.7em;
    text-decoration: none; }

.container ul {
  overflow: hidden;
  padding: 0;
  list-style: none; }

li {
  float: left; }

.head {
  background-color: rgba(29, 29, 32, 0.96);
  height: auto;
  overflow: visible;
  position: relative;
  top: 0;
  font-size: 14px;
  color: #ffffff; }

main {
  width: 1200px;
  margin: 0 auto;
  position: absolute; }

.main_cont {
  color: #eaeaeb;
  width: 792px;
  height: 362.73px;
  position: relative;
  margin-left: 200px;
  margin-top: 50px; }

.con p {
  font-size: 16px;
  color: #edd256; }

.cont_next p {
  font-size: 16px;
  margin-left: 140px;
  margin-top: -40px; }

.mar p {
  position: relative;
  font-size: 56px;
  margin-top: -10px;
  font-weight: bold; }

.point p {
  font-size: 24px; }

.fashion {
  font-size: 18px;
  margin-top: 20px; }

.logo {
  position: absolute;
  margin-left: 955px;
  height: 226.84px;
  width: 396px;
  color: #edd256;
  margin-left: 660px; }

.nav {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;
  height: 86px;
  background-color: white;
  height: 99px;
  display: flex;
  padding: 0;
  list-style-type: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(29, 30, 32, 0.8);
  display: inline-block;
  height: 86px;
  margin: 0 0 2px;
  position: relative;
  z-index: 1;
  font-weight: bold;
  margin-top: 150px; }

.nav ul {
  overflow: hidden;
  padding: 0;
  list-style: none; }
  .nav ul a {
    color: #eaeaeb;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    color: #eaeaeb;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .2em;
    line-height: 1.56em;
    margin: 0 15px 0 0;
    padding: 20px 5px;
    text-transform: uppercase;
    cursor: pointer; }

.nav li {
  float: left; }

.nav a {
  display: flex;
  padding: 0.7em; }

.content {
  position: relative;
  width: 1200px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: #fff;
  color: #1d1d20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 1.5;
  overflow: hidden;
  padding: 15px 10px;
  width: 100%; }

.fon img {
  height: 100%;
  margin: auto;
  max-width: 2560px;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 2560px;
  width: 100%;
  position: fixed; }

.head {
  background-color: rgba(29, 29, 32, 0.96);
  height: auto;
  overflow: visible;
  position: relative;
  top: 0;
  font-size: bold;
  color: #ffffff; }

.container {
  color: #eaeaeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  top: -100%;
  -webkit-transition: top .5s;
  transition: top .5s;
  width: 100%;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  min-height: 60px;
  font-weight: 14px;
  padding: 16px 0px;
  margin-left: 350px; }

ul {
  display: flex;
  font-size: 14px; }

.content {
  background-color: rgba(37, 38, 41, 0.9);
  color: #eaeaeb;
  width: 1200px;
  height: 492.72px;
  margin-top: 5px;
  margin-left: 85px; }
  .content p {
    width: 684.79px;
    font-size: 32px;
    color: #eaeaeb;
    margin-left: 50px; }

.c p {
  position: relative;
  font-size: 18px;
  margin-left: 760px;
  margin-top: -310px;
  font-weight: bold; }

.c1 p {
  position: relative;
  font-size: 18px;
  margin-left: 760px;
  margin-top: -250px; }

.l-l {
  background-color: rgba(29, 29, 32, 0.8);
  border: solid 1px #edd256;
  width: 283px;
  height: 71px;
  margin-left: 750px;
  position: relative;
  margin-top: -100px; }
  .l-l a {
    text-decoration: none; }
  .l-l p {
    font-size: 16px;
    color: #ffffff;
    margin-left: 50px; }

.labell {
  background-color: #edd256;
  width: 150px;
  height: 51px;
  margin-left: 450px;
  position: relative;
  margin-top: -100px; }
  .labell a {
    text-decoration: none; }
  .labell p {
    font-size: 16px;
    color: #ffffff;
    margin-left: 70px;
    margin-top: 0px; }

.c2 {
  position: relative;
  margin-left: 760px;
  font-size: 18px; }
  .c2 a {
    color: #ffffff; }

.share p {
  position: relative;
  font-size: 13px;
  margin-top: -20px; }

.social-network-content {
  position: relative;
  display: flex;
  margin-left: -1600px; }
  .social-network-content svg {
    width: 20.7px;
    height: 20.7px;
    color: #edd256;
    margin: 15px; }

.v {
  width: 1200px;
  height: 835.99px;
  margin-left: 50px;
  background-color: #fff; }

.video {
  background-color: #fff;
  display: inline-block;
  margin: 5px 0;
  position: relative;
  width: 1200px;
  height: 797.99px;
  margin-left: 85px; }
  .video p {
    font-size: 30px;
    width: 1200px;
    height: 40px;
    text-align: center;
    color: #1d1e20;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase; }

.b-video {
  width: 1120px;
  height: 630px;
  margin-left: 40px; }

.foto {
  background-color: #fff;
  position: relative;
  width: 1200px;
  height: 169.78px;
  margin-left: 85px; }

.card img {
  width: 100px;
  height: 45px;
  margin-left: 500px;
  margin-top: 40px; }

.card p {
  margin-left: 490px;
  font-size: 13px; }

.view p {
  position: relative;
  margin-left: 490px;
  font-size: 13px; }

.members {
  position: relative;
  width: 1200px;
  margin-left: 85px; }

img {
  position: relative;
  width: 1200px;
  height: 321.6px;
  margin-top: 50px; }

.promo__content {
  position: relative;
  margin-top: -365px;
  width: 1120px;
  height: 321px;
  margin-left: 40px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(29, 30, 32, 0.5));
  display: block;
  text-decoration: none; }

.promo__type p {
  font-size: 20px;
  color: #eaeaeb;
  margin-left: 500px;
  margin-top: 20px;
  padding: 20px;
  margin-top: 40px;
  text-decoration: none; }

.promo__title p {
  width: 780px;
  height: 180px;
  font-size: 40px;
  color: #eaeaeb;
  text-align: center;
  margin-left: 150px;
  margin-top: -10px; }

.u-btn {
  position: relative;
  background-color: #edd256;
  width: 150px;
  height: 52px;
  font-size: 16.25px;
  margin-left: 50px;
  margin-left: 450px;
  margin-top: -60px;
  text-decoration: none; }
  .u-btn a {
    text-decoration: none; }
  .u-btn p {
    color: #1d1e20;
    text-align: center; }

.n p,
.n1 p {
  position: relative;
  color: #eaeaeb;
  margin-top: -150px; }

.objects {
  width: 1200px;
  height: 2036.89px;
  background-color: #ffffff;
  position: relative;
  margin-left: 0px;
  margin-left: 85px; }

.block p {
  width: 1200px;
  height: 40px;
  text-align: center;
  padding: 40px 10px;
  font-weight: bold;
  letter-spacing: 0.5rem; }

.marry p {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 55px 0 35px;
  text-align: center;
  text-shadow: 0 1px 2px #1d1e20;
  text-transform: uppercase; }

.box {
  width: 1200px;
  height: 159.11px;
  position: relative;
  background-color: #fff; }
  .box p {
    font-size: 14px; }

.model {
  width: 1188.44px;
  height: 2052px;
  display: flex;
  margin-left: 90px;
  padding: 20px;
  margin-top: -50px; }

.model1 {
  width: 1188.44px;
  height: 2052px;
  display: flex;
  margin-left: -780px;
  padding: 20px;
  margin-top: 450px; }

.card-image {
  position: relative;
  width: 267px;
  height: 208px; }
  .card-image p {
    font-size: 20px;
    margin-left: 50px;
    width: 287px;
    height: 147px; }

.card-image-one {
  position: relative;
  width: 267px;
  height: 280px; }
  .card-image-one p {
    font-size: 20px;
    margin-left: 100px;
    width: 287px;
    height: 117px; }

.card-image-two {
  position: relative;
  width: 267px;
  height: 270px; }
  .card-image-two p {
    font-size: 20px;
    margin-left: 150px;
    width: 287px;
    height: 147px; }

.card-image-three {
  position: relative;
  width: 267px;
  height: 356px; }
  .card-image-three p {
    font-size: 20px;
    width: 287px;
    height: 148px; }

.card-image-four {
  position: relative;
  width: 267px;
  height: 163px; }
  .card-image-four p {
    font-size: 20px;
    margin-left: 60px;
    width: 287px;
    height: 148px; }

.card-image-five {
  position: relative;
  width: 267px;
  height: 200px; }
  .card-image-five p {
    font-size: 20px;
    margin-left: 110px;
    width: 287px;
    height: 118px; }

.design {
  position: relative;
  margin-top: 550px;
  margin-left: -800px;
  width: 267px;
  height: 370px; }
  .design p {
    width: 267px;
    height: 148px;
    font-size: 20px; }

.design-card {
  position: relative;
  margin-top: 350px;
  width: 267px;
  height: 248px;
  margin-left: 60px; }
  .design-card p {
    width: 267px;
    height: 148px;
    font-size: 20px; }

.design-card-one {
  position: relative;
  margin-top: 370px;
  width: 267px;
  height: 200px;
  margin-left: 60px; }
  .design-card-one p {
    width: 267px;
    height: 178px;
    font-size: 20px; }

.design-card-two {
  position: relative;
  margin-top: 800px;
  width: 267px;
  height: 307px;
  margin-left: -600px; }
  .design-card-two p {
    width: 267px;
    height: 207px;
    font-size: 20px; }

.design-card-three {
  position: relative;
  margin-top: 800px;
  width: 267px;
  height: 175px;
  margin-left: -400px; }
  .design-card-three p {
    width: 267px;
    height: 118px;
    font-size: 20px;
    margin-left: 460px; }

.fim {
  width: 267px;
  height: 208px;
  margin-left: 50px; }

.fim1 {
  width: 267px;
  height: 280px;
  display: flex;
  margin-left: 100px; }
  .fim1 p {
    margin-left: 150px; }

.fim2 {
  width: 267px;
  height: 270px;
  margin-left: 150px; }

.fim3 {
  width: 282.81px;
  height: 356px; }

.fim4 {
  width: 267px;
  height: 163px;
  margin-left: 60px; }

.fim5 {
  width: 267px;
  height: 200px;
  margin-left: 110px; }

.fim6 {
  width: 267px;
  height: 370px; }

.fim7 {
  width: 267px;
  height: 248px; }

.fim8 {
  width: 267px;
  height: 355px; }

.fim9 {
  width: 267px;
  height: 307px; }

.fim10 {
  width: 267px;
  height: 175px;
  margin-top: 180px;
  margin-left: 460px; }

.objects-one {
  width: 1200px;
  height: 1284.67px;
  background-color: #ffffff;
  position: relative;
  margin-left: 85px; }

.event {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  margin-left: 450px;
  letter-spacing: 0.5rem; }

.card-events {
  display: flex;
  width: 1000px; }

.b-event img {
  width: 325px;
  height: 210px;
  object-fit: cover;
  margin-left: 50px; }

.b-event-cards img {
  width: 325px;
  height: 210px;
  object-fit: cover;
  margin-left: 50px;
  margin-top: -10px; }

.b-event-teaser img {
  width: 325px;
  height: 210px;
  object-fit: cover;
  margin-left: 50px; }

.b-event-tex {
  margin-left: 50px; }
  .b-event-tex p {
    font-size: 16px; }

.event-title {
  width: 330px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 50px; }

.event-title-one {
  width: 330px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 50px; }

.event-title-two p {
  width: 330px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 330px;
  margin-left: -320px; }

.b-events-two {
  display: flex; }

.feature {
  margin-left: 400px;
  color: #ffffff;
  font-size: 30px; }

.card-foto,
.card-foto-one,
.card-foto-two,
.card-foto-three {
  width: 1200px;
  height: 560px;
  display: flex;
  margin-left: 85px; }

.cards img,
.cards1 img {
  width: 600px;
  height: 560px; }

.fot-black {
  position: relative;
  background-color: #1d1d20;
  width: 1200px;
  height: 130px;
  margin-left: 85px; }
  .fot-black p {
    color: #eaeaeb;
    font-size: 16px;
    margin-left: 555px;
    padding: 30px; }

.visit,
.vis {
  background-color: rgba(29, 30, 32, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(29, 30, 32, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(29, 30, 32, 0.5));
  display: block;
  height: 100%;
  position: relative;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  margin-left: 85px; }

.box img {
  width: 100px;
  height: 43px; }

.b-promo__anchor {
  background-color: rgba(29, 30, 32, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(29, 30, 32, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(29, 30, 32, 0.5));
  display: block;
  height: 100%;
  position: relative;
  -webkit-transition: background-color .3s;
  transition: background-color .3s; }

.promo__type p {
  font-size: 20px;
  color: #eaeaeb;
  margin-left: 500px;
  margin-top: 20px;
  padding: 20px;
  margin-top: -20px; }

.promo__title p {
  width: 780px;
  height: 180px;
  font-size: 40px;
  color: #eaeaeb;
  text-align: center;
  margin-left: 150px; }

.box {
  margin-left: 85px; }
  .box p {
    padding: 10px;
    margin-left: 480px; }

.box img {
  margin-left: 510px;
  margin-top: -10px; }

.play {
  width: 80px; }

.ma {
  color: #eaeaeb;
  margin-left: 500px; }

.promo__type {
  margin-left: 500px;
  color: white; }

.promo__title {
  margin-left: 300px;
  color: #eaeaeb;
  font-size: 40px; }

.u-btn {
  margin-top: 10px; }

.content_adaptive {
  margin-left: -100px; }

/*.u-label-tag {
    background: #fd6060;
    width: 151px;
    height: 34px;
}*/
/*footer*/

/*# sourceMappingURL=Mary.css.map */
