@charset "UTF-8";
body {
  margin: 0 auto;
  width: 1200px; }

.fon img {
  width: 1200px;
  height: 100%;
  position: fixed; }

.container ul {
  overflow: hidden;
  padding: 0;
  list-style: none; }
  .container ul li {
    float: left; }

.navigation a {
  display: flex;
  padding: 0.7em;
  border-right: 1px solid #ffffff;
  margin-right: 100px;
  margin-top: 20px;
  list-style-type: none; }

.head_cont {
  background-color: rgba(29, 29, 32, 0.96);
  height: auto;
  overflow: visible;
  position: relative;
  top: 0;
  font-size: bold;
  color: #ffffff;
  width: 1200px;
  height: 60px; }

.logo svg {
  position: absolute;
  margin-left: 689px;
  height: 226.84px;
  width: 396px;
  color: #edd256;
  margin-top: 100px; }

.mainnav__core__search {
  background-color: #000;
  color: #eaeaeb;
  display: block; }

.hidden-menu-ticker {
  display: none;
  margin-top: 50px; }

.cm-e-menu_one ul li.topmenu a {
  text-decoration: none;
  color: #eaeaeb; }

.cm-e-menu_one li {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  text-transform: capitalize !important;
  list-style: none; }

.cm-e-menu_one ul li.topmenu {
  display: inline-table;
  padding: .3em 1em;
  font-size: 14px;
  margin-top: 10px; }

.menu-block {
  display: none;
  align-items: flex-end; }

.topmenu svg {
  width: 20px;
  color: #edd256;
  margin-top: 10px; }

.cm-e-menu {
  padding: 20px;
  background-color: #000;
  position: relative;
  z-index: 1000;
  color: #fff;
  font-weight: 200;
  box-shadow: 0 0 10px black;
  margin-top: -10px; }

.cm-e-menu_one ul {
  margin: 0;
  padding: 0;
  margin-left: 100px; }

.hidden-menu-ticker {
  display: none; }

.menu-open {
  margin-left: 60px;
  margin-top: 20px;
  background: none;
  display: none;
  width: 100px;
  height: 100px; }

.container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  height: 60px; }
  .container a {
    color: #ffffff;
    padding: 0.7em;
    text-decoration: none; }

.container ul {
  overflow: hidden;
  padding: 0;
  list-style: none; }
  .container ul li {
    float: left; }

.navigation a {
  display: flex;
  padding: 0.7em;
  border-right: 1px solid #ffffff;
  margin-right: 100px;
  margin-top: 20px;
  list-style-type: none; }

.logo svg {
  position: absolute;
  margin-left: 689px;
  height: 226.84px;
  width: 396px;
  color: #edd256; }

.head {
  background-color: rgba(29, 29, 32, 0.96);
  height: auto;
  overflow: visible;
  position: relative;
  top: 0;
  font-size: bold;
  color: #ffffff;
  background-color: rgba(29, 29, 32, 0.96);
  height: auto;
  overflow: visible;
  position: relative;
  top: 0;
  font-size: bold;
  color: #ffffff;
  width: 1200px;
  height: 60px; }

.container {
  color: #eaeaeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  top: -100%;
  -webkit-transition: top .5s;
  transition: top .5s;
  width: 100%;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  min-height: 60px;
  font-weight: 14px;
  padding: 16px 0px;
  margin-left: 350px; }

ul {
  display: flex;
  font-size: 14px; }

.con p {
  width: 684.79px;
  height: 170.67px;
  font-size: 44px;
  margin-left: 80px;
  margin-top: 50px;
  padding-top: 50px; }

.cont_adaptive {
  margin-left: 200px; }

/*content*/
main {
  width: 1200px;
  margin: 0 auto;
  position: absolute; }

.menu {
  width: 1000px;
  height: 618px;
  background-color: rgba(37, 38, 41, 0.9);
  color: #eaeaeb;
  position: relative;
  margin-top: 228px;
  margin-left: 80px; }

.introblock {
  margin-left: 90px;
  color: #ffffff; }

.social_links__icons__icon {
  position: relative; }

.cont-text {
  margin-left: 700px;
  margin-top: -250px; }

.content-text-one p {
  color: #ffffff;
  font-size: 22.5px;
  margin-left: 500px;
  margin-top: -400px;
  width: 268.59px; }

.content-text-two p {
  font-size: 17.5px;
  color: #ffffff;
  margin-left: 500px; }

.content-text-three p {
  color: #ffffff;
  font-size: 22.5px;
  margin-left: 500px;
  width: 268.59px; }

.content-text-four p {
  color: #ffffff;
  margin-left: 500px;
  font-size: 17.5px; }

.content-text-five p {
  color: #ffffff;
  font-size: 22.5px;
  margin-left: 500px; }

.content-text-six p {
  font-size: 17.5px;
  color: #ffffff;
  margin-left: 500px; }

.l-l {
  background-color: rgba(29, 29, 32, 0.8);
  border: solid 1px #edd256;
  width: 185.95px;
  height: 52.2px;
  font-size: 14px;
  margin-left: 500px;
  position: relative; }
  .l-l a {
    text-decoration: none; }
  .l-l p {
    font-size: 13px;
    color: #ffffff;
    margin-left: 50px; }

.ex {
  position: relative;
  color: #ffffff;
  margin-left: 500px;
  padding: 20px;
  letter-spacing: 0.5rem;
  margin-left: 450px; }

.content {
  width: 1000px;
  height: 392.4px;
  background: #eaeaeb;
  position: relative;
  margin-left: 80px; }
  .content .white {
    width: 588px;
    background: #eaeaeb; }
    .content .white p {
      font-size: 14px;
      color: #505050; }

.news img {
  width: 432px;
  height: 393px;
  margin-left: 590px;
  margin-top: -315px; }

.home p {
  margin-left: 50px;
  font-size: 32px;
  font-weight: bold; }

.why p {
  margin-left: 50px;
  font-size: 18px;
  color: #505050; }

.labe {
  position: relative;
  background-color: #edd256;
  width: 191.61px;
  height: 53.6px;
  font-size: 13px;
  margin-left: 50px; }
  .labe a {
    text-decoration: none;
    text-align: center; }
    .labe a p {
      color: #1d1e20; }

.label {
  background-color: rgba(29, 29, 32, 0.8);
  border: solid 1px #edd256;
  width: 185.95px;
  height: 52.2px;
  font-size: 14px;
  margin-left: 150px;
  position: relative; }
  .label a {
    text-decoration: none; }
  .label p {
    margin-left: 30px; }

.follow {
  font-size: 13px;
  color: #eaeaeb;
  margin-left: 90px;
  margin-top: 70px; }

.social-network-main {
  display: flex;
  margin-top: 80px; }
  .social-network-main .m {
    margin-left: 80px; }
  .social-network-main svg {
    width: 20.7px;
    height: 20.7px;
    color: #edd256;
    margin: 15px; }

.white p {
  padding-top: 50px;
  font-size: 24px;
  margin-left: 50px; }

.explore p {
  position: relative;
  font-size: 68px;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 72px;
  color: #eaeaeb; }

.while {
  position: relative;
  margin-left: 150px;
  color: #eaeaeb;
  font-size: 24px;
  margin-top: -50px; }

.new {
  position: relative;
  width: 1000px;
  height: 914px;
  background-color: rgba(37, 38, 41, 0.9);
  border-radius: 2px;
  overflow: hidden;
  margin-left: 80px; }

.fill {
  width: 289.85px;
  height: 371.28px;
  margin-top: 50px;
  margin-left: 50px;
  color: #eaeaeb; }
  .fill h {
    font-size: 16px; }
  .fill p {
    font-size: 23px; }
  .fill p1 {
    font-size: 14px; }
  .fill p3 {
    font-size: 14px; }

.fim {
  width: 220.13px;
  height: 139.15px; }

.card,
.car {
  height: 374.75px;
  display: flex;
  padding: 20px;
  margin-left: 0px; }

.events {
  font-size: 14px; }
  .events p {
    color: #fff5b3;
    font-size: 14px;
    margin-top: 20px; }

.event {
  font-size: 14px;
  height: 23.2px; }
  .event p {
    color: #fff5b3;
    font-size: 14px;
    margin-top: 40px;
    padding: 20px;
    margin-left: -20px; }

.il {
  display: flex;
  position: relative; }

.VA img {
  position: relative; }

.while {
  position: relative; }

.content {
  position: relative; }

.mail {
  width: 600px;
  height: 360.33px;
  position: relative;
  background-color: #dee0e2;
  margin: 0;
  width: 50%; }

.sign p {
  margin-left: 50px;
  font-size: 40px;
  color: #1d1e20;
  font-weight: bold; }

.hear {
  font-size: 16px;
  margin-left: 50px;
  margin-top: -15px; }

.tex-mail {
  margin-left: 50px;
  width: 370px;
  height: 50px;
  font-size: 1rem; }

.logo-mail {
  position: absolute;
  margin-left: 550px;
  height: 360.84px;
  width: 500px;
  color: #rgb 197 198 202/50%;
  margin-top: -348px;
  background-color: #dee0e2; }

.te {
  margin-left: -150px;
  height: 52px;
  margin-top: -50px; }

.t p {
  margin-left: 50px;
  font-size: 16.25px; }

.latest p {
  position: relative;
  margin-left: 150px;
  font-size: 30px;
  color: #eaeaeb;
  letter-spacing: 0.5rem; }

.block-collection {
  padding: 50px; }

.content-foto {
  position: relative;
  display: flex;
  margin-left: -20px; }
  .content-foto img {
    padding: 20px;
    width: 261px;
    height: 180px; }

.one {
  margin-left: -350px; }

.members a {
  margin-left: 250px;
  color: white; }

.card-name {
  position: relative;
  display: flex;
  width: 260px;
  height: 80px;
  background-color: #eaeaeb;
  margin-top: -30px; }
  .card-name p {
    font-size: 30px; }

.card-name-one {
  position: relative;
  display: flex;
  width: 240px;
  height: 80px;
  background-color: #eaeaeb;
  margin-left: 300px;
  margin-top: -80px; }
  .card-name-one p {
    font-size: 30px; }

.card-name-two {
  position: relative;
  display: flex;
  width: 240px;
  height: 80px;
  background-color: #eaeaeb;
  margin-top: -80px;
  margin-left: 581px; }
  .card-name-two p {
    font-size: 30px; }

.card-name-three {
  position: relative;
  display: flex;
  width: 240px;
  height: 80px;
  background-color: #eaeaeb;
  margin-top: -80px;
  margin-left: 860px; }

.card-name-four {
  position: relative;
  display: flex;
  width: 240px;
  height: 80px;
  background-color: #eaeaeb;
  margin-left: 861px;
  margin-top: -80px; }
  .card-name-four p {
    font-size: 30px; }

.labelss {
  position: relative;
  margin-left: 500px;
  background-color: rgba(29, 29, 32, 0.8);
  border: solid 1px #edd256;
  width: 442px;
  height: 52.2px;
  margin-left: 150px;
  position: relative;
  margin-top: 50px;
  margin-left: 350px; }
  .labelss a {
    text-decoration: none; }
  .labelss p {
    font-size: 16.25px;
    color: #eaeaeb;
    text-align: center; }

.member img {
  position: relative;
  width: 1200px;
  height: 321.6px;
  margin-top: 50px; }

.promo__content {
  position: relative;
  margin-top: -340px;
  width: 1120px;
  height: 321px;
  margin-left: 40px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(29, 30, 32, 0.5));
  display: block; }

.u-btn {
  position: relative;
  background-color: #edd256;
  width: 201px;
  height: 52px;
  font-size: 16.25px;
  margin-left: 50px;
  margin-left: 450px;
  margin-top: -60px; }
  .u-btn p {
    color: #1d1e20;
    text-align: center;
    padding: 15px; }

.shop {
  margin-top: 100px; }

.shop img {
  position: relative;
  width: 1200px;
  height: 341.6px; }

.f p {
  position: relative;
  font-size: 17.5px;
  margin-left: 450px;
  color: #eaeaeb; }

.b-promo__anchor {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(29, 30, 32, 0.5));
  display: block;
  height: 100%;
  position: relative;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  text-decoration: none; }

.promo__type {
  margin-left: 500px;
  color: white; }

.promo__title {
  margin-left: 300px;
  color: #eaeaeb;
  font-size: 40px; }

.u-btn {
  margin-top: 10px; }

.content_adaptive {
  margin-left: -100px; }

/*footer*/
.c-c {
  position: relative;
  width: 1200px;
  height: 1300px;
  margin-left: 40px; }

.nav ul {
  margin-left: 100px; }

.email {
  font-family: The Sans, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 auto 16px;
  max-width: 689px;
  padding: 0 10px; }
  .email p {
    font-weight: 700; }
  .email a {
    text-decoration: none;
    color: #1d1e20; }

.whow a,
.tex a {
  color: #1d1e20; }

.history p,
.whow p,
.missiya p,
.nat p,
.t p,
.r p,
.lnternational p,
.k p {
  font-weight: 500;
  line-height: 32px;
  margin: 0 auto 16px;
  width: 689px;
  margin-top: 50px;
  text-align: none;
  font-size: 20px; }

.t p {
  font-weight: 500;
  line-height: 32px;
  margin: 0 auto 16px;
  width: 689px;
  margin-top: 50px; }

.still {
  font-weight: 500;
  line-height: 32px;
  margin: 0 auto 16px;
  width: 689px;
  height: 192px;
  margin-left: 180px;
  font-size: 18px; }
  .still ul {
    display: block; }
  .still li {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    max-width: 689px;
    margin: 0 0 10px; }

.foot {
  position: relative;
  background-color: #1d1e20;
  color: #fff;
  font-size: 13px;
  letter-spacing: .3px;
  line-height: 18px;
  margin-top: 32px;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-top: 220px;
  width: 1300px;
  height: 880px;
  margin-top: 4500px; }

.tex {
  margin-left: 255px; }

.note p {
  font-size: 13px;
  width: 300px;
  height: 13px;
  margin-top: 80px; }

.fot {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 42px;
  width: 1200px;
  height: 32px; }

.coll {
  margin-top: 60px; }

.size {
  padding-top: 20px;
  width: 250px;
  margin-left: 120px; }

.b-footer,
.b-site {
  color: #edd256; }

.back {
  background: #1d1e20;
  border: 1px solid #ee9746;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
  padding: 20px 15px;
  text-transform: uppercase;
  margin-left: 350px;
  margin-top: 100px;
  z-index: 1; }

.d,
.d1 {
  display: flex;
  margin-left: 500px; }

.list_adaptive {
  margin-top: 160px;
  width: 265px;
  height: 17.07px;
  margin-left: 500px;
  margin-top: -200px; }
  .list_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .list_adaptive p {
    font-size: 13px; }

.plan_adaptive {
  margin-left: 750px;
  margin-top: -30px;
  height: 17.07px; }
  .plan_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .plan_adaptive p {
    font-size: 13px; }

.res_adaptive {
  margin-top: -30px;
  width: 265px;
  margin-left: 950px; }
  .res_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .res_adaptive p {
    font-size: 13px; }

.join_adaptive {
  margin-top: 90px;
  width: 265px;
  margin-left: 500px; }
  .join_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .join_adaptive p {
    font-size: 13px; }

.com_adaptive {
  margin-top: -130px;
  width: 265px;
  height: 17.07px;
  margin-left: 750px; }
  .com_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .com_adaptive p {
    font-size: 13px; }

.plan_adaprive {
  margin-top: 160px;
  width: 265px;
  height: 17.07px; }
  .plan_adaprive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .plan_adaprive p {
    font-size: 13px; }

.family_adaptive {
  margin-left: 950px;
  width: 265px;
  margin-top: -30px; }
  .family_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .family_adaptive p {
    font-size: 13px; }

.social-network {
  display: flex;
  margin-top: 200px;
  margin-left: 150px; }
  .social-network svg {
    width: 20.7px;
    height: 20.7px;
    color: #edd256;
    margin: 15px; }

.site-footer {
  margin-left: 150px;
  color: #b7b8b6; }
  .site-footer a {
    color: #b7b8b6; }

.l {
  background-color: #1d1e20;
  border: 2px solid #edd256;
  width: 167.78px;
  height: 59.6px;
  font-size: 13px;
  margin-left: 500px;
  margin-top: -50px; }
  .l a {
    font-size: 13px;
    text-align: center;
    text-decoration: none; }
  .l p {
    margin-top: -1px;
    letter-spacing: 2.5px;
    color: #ffffff; }

.logo-footer svg {
  position: absolute;
  margin-left: 855px;
  height: 151px;
  width: 261px;
  color: #505354;
  z-index: 1;
  margin-top: 700px; }

.submenu_one input {
  width: 648px;
  height: 73px;
  font-size: 50px;
  background-color: currentcolor;
  color: internal-light-dark(black, white); }

.ss {
  margin-left: 650px;
  margin-top: -50px; }
  .ss p {
    font-size: 20px;
    color: #b7b8bd;
    text-decoration: none; }

.submenu_one {
  width: 1160px;
  height: 600px;
  display: none;
  position: absolute;
  background-color: #111111;
  z-index: 2;
  list-style-type: none;
  margin-top: -10px; }
  .submenu_one p {
    margin-left: 200px;
    margin-top: 50px; }

.mainnav__core {
  background-color: #fff5b3;
  color: #eaeaeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: -100%;
  -webkit-transition: top .5s;
  transition: top .5s;
  width: 100%;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  min-height: 60px; }

/*content*/
.nav a {
  display: block;
  padding: 0.7em;
  color: #020202;
  font-size: 20px; }

main {
  width: 1200px;
  margin: 0 auto;
  position: fixed; }

.haedd {
  width: 1200px;
  height: 60px; }

.haedds {
  display: none; }

.container {
  width: 1000px;
  color: #eaeaeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: top .5s;
  transition: top .5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  min-height: 60px;
  font-weight: 14px;
  margin-left: 100px; }
  .container ul a {
    display: flex;
    font-size: 14px;
    text-decoration: none;
    color: #eaeaeb;
    margin-left: 30px; }

.about p {
  font-size: 56px;
  font-weight: bold;
  color: #eaeaeb;
  font-weight: 600;
  letter-spacing: -.0125em;
  line-height: 1.075;
  text-rendering: optimizeLegibility;
  position: absolute;
  margin-left: 180px; }

.cont {
  position: relative;
  margin-top: 528px;
  width: 1000px;
  margin-left: 85px; }
  .cont .nav {
    width: 1000px;
    height: 86px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 99px;
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(29, 30, 32, 0.8);
    display: inline-block;
    height: 86px;
    margin: 0 0 2px;
    position: relative;
    z-index: 1;
    font-weight: bold;
    margin-bottom: 250px;
    margin-left: 85px; }

.nav ul {
  overflow: hidden;
  padding: 0;
  margin-left: 70px;
  list-style: none; }
  .nav ul a {
    color: #eaeaeb;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    color: #eaeaeb;
    display: inline-block;
    font-size: 14px;
    font-smoothing: antialiased;
    font-weight: 700;
    line-height: 1.56em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer; }

.nav li {
  float: left; }

.nav a {
  display: flex;
  padding: 0.7em; }

.contents {
  width: 1000px;
  height: 6710px;
  background-color: #ffffff;
  position: absolute;
  margin-left: 0px; }

.cont_adaptive {
  display: none; }

.text {
  width: 688.99px;
  height: 302.4px;
  font-size: 20px; }
  .text p {
    margin-left: 150px;
    font-size: 24px;
    font-weight: 300;
    line-height: 44px;
    max-width: 689px;
    padding: 0 10px;
    height: 308px;
    width: 659px; }

.label {
  background-color: #edd256;
  width: 321.31px;
  height: 54px;
  font-size: 13px;
  margin-left: 263px;
  margin-top: 30px; }
  .label a {
    font-size: 13px;
    color: #1d1e20;
    text-decoration: none; }
  .label p {
    margin-top: 0px;
    letter-spacing: 2.5px; }

.labell {
  background-color: #edd256;
  width: 321.8px;
  height: 54px;
  font-size: 13px;
  margin-left: 255px;
  margin-top: 30px; }
  .labell a {
    font-size: 13px;
    color: #1d1e20;
    text-decoration: none; }
  .labell p {
    margin-top: 0px;
    letter-spacing: 2.5px;
    margin-left: 20px; }

.labels {
  background-color: #edd256;
  width: 192.76px;
  height: 54px;
  font-size: 13px;
  margin-left: 260px;
  margin-top: 30px; }
  .labels a {
    font-size: 13px;
    color: #1d1e20;
    text-decoration: none; }
  .labels p {
    margin-top: 0px;
    letter-spacing: 2.5px;
    margin-left: 20px; }

.labele {
  background-color: #edd256;
  width: 376.29px;
  height: 54px;
  font-size: 13px;
  margin-left: 255px;
  margin-top: 30px; }
  .labele a {
    font-size: 13px;
    color: #1d1e20;
    text-decoration: none; }
  .labele p {
    margin-top: 0px;
    letter-spacing: 2.5px;
    margin-left: 20px; }

.labelee {
  background-color: #edd256;
  width: 560.45px;
  height: 54px;
  font-size: 13px;
  margin-left: 255px;
  margin-top: 30px; }
  .labelee a {
    font-size: 13px;
    color: #1d1e20;
    text-decoration: none; }
  .labelee p {
    margin-top: 0px;
    letter-spacing: 2.5px;
    margin-left: 20px; }

.labe {
  background-color: #edd256;
  width: 477.74px;
  height: 54px;
  font-size: 13px;
  margin-left: 255px;
  margin-top: 30px; }
  .labe a {
    font-size: 13px;
    color: #1d1e20;
    text-decoration: none; }
  .labe p {
    margin-top: 0px;
    letter-spacing: 2.5px; }

.lab {
  background-color: #edd256;
  width: 376.54px;
  height: 54px;
  margin-left: 255px;
  margin-top: 30px; }
  .lab a {
    font-size: 13px;
    color: #1d1e20;
    text-decoration: none; }
  .lab p {
    margin-top: 0px;
    letter-spacing: 2.5px;
    margin-left: 20px; }

.button {
  color: #1d1e20;
  text-align: center;
  margin: 0 auto;
  max-width: 689px;
  margin: 0 0 10px;
  text-decoration: none;
  padding: 15px 25px;
  margin-top: 20px; }
  .button p {
    margin-top: 0px;
    font-weight: bold;
    margin-left: -25px; }

.tel img,
.his img,
.organiz img,
.mission img,
.card img,
.future img,
.jobs img,
.reports img {
  width: 850px;
  height: 340px;
  display: block;
  margin-left: 65px;
  margin-top: 50px; }

.national img {
  width: 850px;
  height: 340px;
  display: block;
  margin-top: 150px;
  margin-left: 80px; }

.contact,
.contr,
.who,
.mis,
.cards {
  margin-top: -30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%; }

.contact p,
.contr p,
.who p,
.mis p,
.cards p,
.tell p {
  background: white;
  display: inline;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0 10px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase; }

/*footer*/
.c-c {
  width: 1200px;
  height: 1300px;
  margin-left: 40px; }

.nav ul {
  margin-left: 100px; }

.email {
  font-family: The Sans, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 auto 16px;
  max-width: 689px;
  padding: 0 10px; }
  .email p {
    font-weight: 700; }
  .email a {
    text-decoration: none;
    color: #1d1e20; }

.whow a,
.tex a {
  color: #1d1e20; }

.history,
.whow,
.missiya,
.nat,
.t,
.r,
.lnternational,
.k {
  font-weight: 500;
  line-height: 32px;
  margin: 0 auto 16px;
  width: 689px;
  margin-top: 50px;
  text-align: none; }

.foot {
  background-color: #1d1e20;
  color: #fff;
  font-size: 13px;
  letter-spacing: .3px;
  line-height: 18px;
  margin-top: 32px;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-top: 320px;
  width: 1200px;
  height: 880px;
  margin-left: -86px; }

.tex {
  margin-left: 255px; }

.note p {
  font-size: 13px;
  width: 300px;
  height: 13px;
  margin-top: 80px; }

.fot {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 42px;
  width: 1200px;
  height: 32px; }

.coll {
  margin-top: 60px; }

.size {
  padding-top: 20px;
  width: 250px;
  margin-left: 120px; }

.b-footer,
.b-site {
  color: #edd256; }

.back {
  background: #1d1e20;
  border: 1px solid #ee9746;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
  padding: 20px 15px;
  text-transform: uppercase;
  margin-left: 350px;
  margin-top: 100px;
  z-index: 1; }

.d,
.d1 {
  display: flex;
  margin-left: 500px; }

.list_adaptive {
  margin-top: 160px;
  width: 265px;
  height: 17.07px;
  margin-left: 500px;
  margin-top: -200px; }
  .list_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .list_adaptive p {
    font-size: 13px; }

.plan_adaptive {
  margin-left: 750px;
  margin-top: -30px;
  height: 17.07px; }
  .plan_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .plan_adaptive p {
    font-size: 13px; }

.res_adaptive {
  margin-top: -30px;
  width: 265px;
  margin-left: 950px; }
  .res_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .res_adaptive p {
    font-size: 13px; }

.join_adaptive {
  margin-top: 90px;
  width: 265px;
  margin-left: 500px; }
  .join_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .join_adaptive p {
    font-size: 13px; }

.com_adaptive {
  margin-top: -130px;
  width: 265px;
  height: 17.07px;
  margin-left: 750px; }
  .com_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .com_adaptive p {
    font-size: 13px; }

.plan_adaprive {
  margin-top: 160px;
  width: 265px;
  height: 17.07px; }
  .plan_adaprive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .plan_adaprive p {
    font-size: 13px; }

.family_adaptive {
  margin-left: 950px;
  width: 265px;
  margin-top: -30px; }
  .family_adaptive a {
    display: flex;
    color: #edd256;
    text-decoration: none;
    margin: 5px 0px; }
  .family_adaptive p {
    font-size: 13px; }

.social-network {
  display: flex;
  margin-top: 200px;
  margin-left: 150px; }
  .social-network svg {
    width: 20.7px;
    height: 20.7px;
    color: #edd256;
    margin: 15px; }

.site-footer {
  margin-left: 150px;
  color: #b7b8b6; }
  .site-footer a {
    color: #b7b8b6; }

.seach_adapt input {
  margin-left: 50px;
  width: 400px;
  height: 50px;
  margin-top: 50px;
  background-color: currentcolor; }

.l {
  background-color: #1d1e20;
  border: 2px solid #edd256;
  width: 167.78px;
  height: 59.6px;
  font-size: 13px;
  margin-left: 350px;
  margin-top: -50px; }
  .l a {
    font-size: 13px;
    text-align: center;
    text-decoration: none; }
  .l p {
    margin-top: -1px;
    letter-spacing: 2.5px;
    color: #ffffff; }

.logo-footer svg {
  position: absolute;
  margin-left: 755px;
  height: 151px;
  width: 261px;
  color: #505354;
  z-index: 1;
  margin-top: 600px; }

/*meda*/
.menu-open {
  margin-left: 60px;
  margin-top: 20px;
  background: none;
  display: none;
  width: 100px;
  height: 100px; }

.mainnav__core__search {
  background-color: #000;
  color: #eaeaeb;
  display: block; }

.hidden-menu-ticker {
  display: none;
  margin-top: 50px; }

/*burger*/
.menu-block {
  display: flex;
  align-items: flex-end;
  margin-left: -50px;
  margin-top: -20px; }

.burger_nav li {
  float: left;
  list-style: none; }

.burger_nav a {
  display: block;
  padding: 0.7em;
  color: #fff;
  font-size: 20px; }

.burger_nav a:hover {
  background: #f3c155; }

.hidden-menu-ticker {
  display: none; }

.btn-menu span {
  display: block;
  height: 7px;
  background-color: #FEE46B;
  margin: 12px 0 0;
  transition: all .1s linear .23s;
  position: relative; }

.btn-menu span.first {
  margin-top: 0; }

.hidden-menu-ticker:checked ~ .btn-menu {
  right: 0; }

.hidden-menu-ticker:checked ~ .burger_nav {
  right: -900px; }

.hidden-menu-ticker ~ .btn-menu span.first,
.hidden-menu-ticker ~ .btn-menu span.third {
  top: 0; }

.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 19px; }

.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0; }

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -19px; }

/*adaptive*/
@media only screen and (max-width: 1200px) {
  width: 1140px;
  padding: 0;
  margin: 0;
  .right-block {
    display: block;
    width: 122px; }

  .btn-menu {
    display: none; }

  .con nav {
    display: none; }

  .headds {
    display: none; }

  .burger_nav {
    display: none; }

  .search_adapt {
    display: none; } }
@media only screen and (max-width: 768px) {
  width: 768px;
  padding: 0;
  margin: 0;
  .explore p {
    font-size: 32px;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 72px;
    color: #eaeaeb; }

  .topmenu svg {
    margin-top: 0px; }

  .nav {
    display: block;
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 320px;
    background-color: #a4c8d0;
    right: -320px;
    transition: right .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    top: 75px;
    bottom: 0; }

  .nav li {
    width: 100%;
    text-align: center; }

  .btn-menu {
    color: #fff;
    background-color: #666;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: right .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    background: linear-gradient(to top, #a4c8d0, #014576);
    width: 75px; }

  .nav a {
    border-bottom: 1px solid #ddd;
    color: #101111;
    text-shadow: none; }

  .nav a:hover {
    color: #fff; }

  .right-block {
    display: none; }

  .text {
    font-size: 19px; }

  .main-text {
    padding: 10px; }

  .ss {
    margin-left: 450px;
    margin-top: -70px; } }
@media only screen and (max-width: 575px) {
  .menu-block {
    display: flex;
    align-items: flex-end; }

  ul {
    list-style: none;
    margin: 0 auto; }

  li a {
    text-decoration: none;
    transition: .5s linear; }

  nav {
    display: block;
    width: auto;
    margin: 0 auto; }

  .nav ul {
    overflow: hidden;
    padding: 0; }

  .nav li:first-child a {
    border-left: 1px solid #ADC0CE; }

  .nav li {
    float: left; }

  .nav a {
    display: block;
    padding: 0.7em;
    border-right: 1px solid #ADC0CE;
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 20px #2a6993; }

  .nav a:hover {
    background: #2a6a94; } }
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .right-block {
    display: block;
    width: 122px; }

  .btn-menu {
    display: none; } }
/**/
.hidden-menu-ticker {
  display: none; }

.btn-menu span.first {
  margin-top: 0; }

.hidden-menu-ticker:checked ~ .btn-menu {
  right: 0; }

.hidden-menu-ticker:checked ~ .nav {
  right: 0; }

.hidden-menu-ticker ~ .btn-menu span.first,
.hidden-menu-ticker ~ .btn-menu span.third {
  top: 0; }

.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 19px; }

.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0; }

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -19px; }

.z {
  width: 20px;
  height: 20px;
  margin-top: -70px;
  margin-left: 800px;
  color: #edd256; }

.sear {
  width: 28px;
  height: 28px;
  color: #b7b8bd;
  margin-top: 70px;
  margin-left: 50px; }

.s_black p {
  margin-left: 100px;
  margin-top: -60px;
  font-size: 50px; }
  .s_black p input {
    width: 648px;
    height: 73px;
    background-color: #111111; }

.alt {
  font-size: 16px;
  margin-left: 50px; }
  .alt p {
    color: #b7b8bd; }

.s {
  margin-left: 450px;
  margin-top: -30px; }
  .s p {
    color: #ffffff; }

/*Адаптив*/
@media only screen and (max-width: 1200px) {
  width: 1140px;
  padding: 0;
  margin: 0;
  .right-block {
    display: block;
    width: 122px; }

  .btn-menu {
    display: none; }

  .con nav {
    display: none; }

  .burger_nav {
    display: none; } }
@media only screen and (max-width: 768px) {
  width: 768px;
  padding: 0;
  margin: 0 auto;
  nav,
  .adaptive_nav {
    display: block;
    width: auto;
    margin: 0 auto;
    margin-top: -100px; }

  .adaptive_nav ul {
    overflow: hidden;
    padding: 0;
    display: flex;
    margin-left: 100px; }

  .adaptive_nav a {
    text-decoration: none;
    color: #eaeaeb;
    font-size: 14px; }

  .list_adaptive {
    margin-left: -500px;
    margin-top: 500px; }

  .head {
    width: 768px; }

  .about {
    margin-top: -150px;
    margin-left: -150px; }

  .logo svg {
    width: 254px;
    height: 146px;
    margin-left: 515px;
    margin-top: 250px; }

  .container {
    margin-left: 200px;
    margin-top: 20px; }

  .cont nav {
    width: 768px; }

  .about p {
    font-size: 32px;
    margin-left: 220px;
    margin-top: 250px; }

  .haedd {
    display: none; }

  .haedds {
    display: block;
    background-color: rgba(29, 29, 32, 0.96);
    height: 80px;
    overflow: visible;
    position: relative;
    top: 0;
    font-size: bold;
    color: #ffffff;
    width: 768px;
    height: 80px; }

  .block_contents {
    margin-left: -150px;
    margin-top: -515px; }

  .nav_adaptive {
    display: block;
    position: relative; }

  .cont nav ul {
    display: none; }

  .text p {
    margin-left: 10px; }

  .lab,
  .label,
  .labele,
  .labelee,
  .labels,
  .labell,
  .labe {
    margin-left: 100px; }

  .fon img {
    width: 780px; }

  .history,
  .whow,
  .missiya,
  .nat,
  .t,
  .r,
  .lnternational,
  .k {
    font-weight: 500;
    line-height: 32px;
    margin: 0 auto 16px;
    width: 689px;
    margin-top: 50px;
    margin-left: 10px; }

  .cm-e-menu,
  .cm-e-menu_one {
    display: none; }

  .cont_adaptive {
    display: block;
    background-color: black;
    height: 60px;
    position: relative;
    margin-left: 65px;
    width: 768px;
    height: 80px; }

  .still {
    font-weight: 500;
    line-height: 32px;
    margin: 0 auto 16px;
    width: 689px;
    height: 192px;
    margin-left: 230px;
    font-size: 18px;
    margin-left: 10px; }

  .contact,
  .contr,
  .who,
  .mis,
  .cards {
    margin-top: -30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%; }

  .l {
    background-color: #1d1e20;
    border: 2px solid #edd256;
    width: 167.78px;
    height: 59.6px;
    font-size: 13px;
    margin-left: 350px;
    margin-top: -50px; }

  .nav ul a {
    color: #eaeaeb;
    display: inline-block;
    font-smoothing: antialiased;
    font-weight: 700;
    line-height: 1.56em;
    cursor: pointer; }

  .fot {
    margin-left: 100px;
    margin-top: 50px; }

  .more {
    margin-left: 100px; }

  .social-network {
    display: flex;
    margin-top: 200px;
    margin-left: 0; }

  .list p {
    margin-left: -280px;
    margin-top: 50px; }

  .res {
    width: 265px;
    height: 17.07px; }

  .mor {
    width: 265px;
    height: 17.07px; }

  .contents {
    width: 768px;
    height: 6710px;
    background-color: #ffffff;
    position: absolute;
    margin-left: 65px; }

  .cm-e-menu_one {
    display: none; }

  .tel img,
  .his img,
  .organiz img,
  .mission img,
  .card img,
  .future img,
  .jobs img,
  .reports img {
    width: 750px;
    height: 340px;
    display: block;
    margin-top: 50px;
    margin-left: -20px; }

  .national img {
    width: 750px;
    height: 340px;
    display: block;
    margin-top: 150px;
    margin-left: -20px; }

  .fon img {
    width: 768px;
    height: 100%; }

  .foot {
    width: 768px;
    height: 100%;
    margin-left: 1px; }

  .c-c {
    width: 760px;
    margin-left: 40px; }

  .size {
    margin-left: -100px; }

  .logo-footer svg {
    margin-left: 570px; }

  .join_adaptive {
    margin-left: 400px;
    width: 265px;
    margin-top: -40px; }

  .res_adaptive {
    margin-top: -30px;
    width: 265px;
    margin-left: 200px; }

  .com_adaptive {
    margin-top: 80px;
    width: 265px;
    height: 17.07px;
    margin-left: 0px; }

  .res_adaptive {
    margin-top: 210px;
    width: 265px;
    height: 17.07px;
    margin-left: 0px; }

  .plan_adaptive {
    width: 265px;
    height: 17.07px;
    margin-left: 400px; }

  .family_adaptive {
    width: 265px;
    height: 17.07px;
    margin-left: 400px; }

  .list_adaptive {
    margin-top: -530px;
    margin-top: 40px;
    width: 265px;
    height: 17.07px;
    margin-left: 0px; }

  .site-footer {
    margin-left: 0px; }

  .logo-footer svg {
    margin-top: 1005px;
    margin-left: 550px; }

  /*****/
  .head_cont {
    display: none; }

  .right-block {
    display: block;
    width: 122px; }

  .btn-menu {
    display: none; }

  /**/
  .cm-e-menu_for {
    position: relative;
    z-index: 1000;
    color: #fff;
    font-weight: 200; }
    .cm-e-menu_for a {
      text-decoration: none;
      color: #eaeaeb; }

  .cm-e-menu_for ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 80px; }

  .cm-e-menu_for li {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    text-transform: capitalize !important;
    list-style: none;
    -webkit-transition: background-color ease-in 300ms;
    -moz-transition: background-color ease-in 300ms;
    -ms-transition: background-color ease-in 300ms;
    -o-transition: background-color ease-in 300ms;
    transition: background-color ease-in 300ms;
    margin-left: 20px;
    font-size: 14px;
    margin-top: 15px; }

  .cm-e-menu_for li:hover {
    background-color: #3d3d3d;
    text-shadow: 0 10px 10px #222; }

  .cm-e-menu_for ul li.topmenu {
    display: inline-table;
    padding: .3em 1em;
    margin-left: -90px;
    margin-top: 25px; }

  .cm-e-menu_for .topmenu ul {
    display: none;
    position: absolute;
    background-color: #222; }

  .cm-e-menu_for li:hover > ul {
    display: table;
    margin-left: -290px; }

  .cm-e-menu_for ul.submenu {
    top: 100%;
    left: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #000;
    margin-left: -100px; }

  .cm-e-menu_for ul.submenu .submenu {
    top: -.5em;
    left: 100%;
    font-size: 1em; }

  .cm-e-menu_for ul.submenu li {
    font-size: .9rem;
    margin-top: 10px; }

  .cm-e-menu_for li.divider {
    padding: 0;
    border-top: 1px solid #343434;
    margin: .5rem auto .3rem;
    cursor: default; }

  .cm-e-menu_for li.divider:hover {
    background-color: transparent; }

  .cm-e-menu_two {
    position: relative;
    z-index: 1000;
    color: #fff;
    font-weight: 200;
    display: flex;
    padding: 30px;
    margin-left: 70px; }

  .cm-e-menu_two ul {
    margin: 0;
    padding: 0; }
    .cm-e-menu_two ul a {
      text-decoration: none;
      color: #eaeaeb;
      font-size: 14px; }

  .cm-e-menu_two li {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    text-transform: capitalize !important;
    list-style: none;
    -webkit-transition: background-color ease-in 300ms;
    -moz-transition: background-color ease-in 300ms;
    -ms-transition: background-color ease-in 300ms;
    -o-transition: background-color ease-in 300ms;
    transition: background-color ease-in 300ms;
    margin-left: 50px;
    font-size: 14px; }

  .cm-e-menu_two li:hover {
    background-color: #3d3d3d;
    text-shadow: 0 10px 10px #222; }

  .cm-e-menu_two ul li.topmenu_two {
    display: inline-table;
    padding: .3em 1em; }

  .cm-e-menu_two .topmenu_two ul {
    display: none;
    position: absolute;
    background-color: #000; }

  .cm-e-menu_two li:hover > ul {
    display: table;
    margin-left: -120px; }

  .cm-e-menu_two ul.submenu_two {
    top: 100%;
    left: 0;
    padding-top: .5em;
    padding-bottom: .5em; }

  .cm-e-menu_two ul.submenu_two .submenu_two {
    top: -.5em;
    left: 100%;
    font-size: 1em; }

  .cm-e-menu_two ul.submenu_two li {
    padding: .2em 1.5em;
    font-size: .9rem;
    margin-left: 0px; }

  .cm-e-menu_two li.divider {
    padding: 0;
    border-top: 1px solid #343434;
    margin: .5rem auto .3rem;
    cursor: default; }

  .cm-e-menu_two li.divider:hover {
    background-color: transparent; }

  .cont {
    position: relative;
    margin-top: 759px;
    width: 1000px;
    margin-left: 85px; }

  .cm-e-menu_one li:hover > ul {
    display: table;
    margin-left: -520px; }

  .search {
    margin-top: -49px;
    margin-left: 540px;
    list-style: none; }

  .cm-e-menu_five {
    position: relative;
    z-index: 1000;
    color: #fff;
    font-weight: 200; }

  .cm-e-menu_five ul {
    margin: 0;
    padding: 0; }

  .cm-e-menu_five li {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    text-transform: capitalize !important;
    list-style: none;
    -webkit-transition: background-color ease-in 300ms;
    -moz-transition: background-color ease-in 300ms;
    -ms-transition: background-color ease-in 300ms;
    -o-transition: background-color ease-in 300ms;
    transition: background-color ease-in 300ms; }

  .cm-e-menu_five li:hover {
    background-color: #3d3d3d;
    text-shadow: 0 10px 10px #222; }

  .cm-e-menu_five ul li.topmenu {
    display: inline-table;
    padding: .3em 1em; }

  .cm-e-menu_five .topmenu ul {
    display: none;
    position: absolute;
    background-color: #222; }

  .cm-e-menu_five li:hover > ul {
    display: table;
    margin-left: -554px;
    width: 768px;
    height: 100px; }

  .cm-e-menu_five ul.submenu {
    top: 100%;
    left: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    box-shadow: 0 0 10px black; }

  .cm-e-menu_five ul.submenu .submenu {
    top: -.5em;
    left: 100%;
    font-size: 1em; }

  .cm-e-menu_five ul.submenu li {
    padding: .2em 1.5em;
    font-size: .9rem; }

  .cm-e-menu_five li.divider {
    padding: 0;
    border-top: 1px solid #343434;
    margin: .5rem auto .3rem;
    cursor: default; }

  .cm-e-menu_five li.divider:hover {
    background-color: transparent; }

  .submenu_one p {
    margin-left: 100px;
    margin-top: 50px; }

  .submenu_one input {
    width: 440px;
    height: 72px;
    font-size: 40px;
    background-color: currentcolor; } }
@media only screen and (max-width: 545px) {
  width: 545px;
  padding: 0 15px;
  margin: 0;
  .burger_nav {
    display: block;
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 320px;
    right: -320px;
    transition: right .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    top: 75px;
    bottom: 0; }

  .ss {
    margin-left: 100px; }

  .logo svg {
    margin-top: 350px;
    margin-left: 300px; }

  .burger_nav li {
    width: 100%;
    text-align: center;
    margin-top: -10px; }

  .block {
    height: 250px;
    background-color: #000;
    margin-top: -20px; }

  .btn-menu {
    display: block;
    color: #fff;
    background-color: black;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: right .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    background: #1d1e20;
    width: 75px;
    position: relative;
    margin-left: 500px; }

  .burger_nav a {
    color: #8a8a8a;
    text-shadow: none;
    margin-left: -400px;
    margin-top: 24px;
    text-decoration: none;
    display: table-cell;
    font-size: 24px; }

  .burger_nav a:hover {
    color: #fff; }

  .ss p {
    color: #8a8a8a;
    margin-left: 250px;
    margin-top: -0px; }

  .right-block {
    display: none; }

  .text {
    font-size: 19px; }

  .main-text {
    padding: 10px; }

  .card,
  .car {
    padding: 0;
    height: 240px; }

  .container {
    display: none; }

  .cont_adaptive {
    display: none; }

  .burger_nav ul {
    overflow: hidden;
    padding: 0;
    display: contents; }

  .cm-e-menu_two ul {
    display: none; }

  .head_cont {
    background-color: rgba(29, 29, 32, 0.96);
    height: auto;
    overflow: visible;
    position: relative;
    top: 0;
    font-size: bold;
    color: #ffffff;
    width: 768px;
    height: 60px;
    margin-left: 50px; }

  .nav a {
    border-bottom: 1px solid #ddd;
    color: #151718;
    text-shadow: none; }

  .nav a:hover {
    color: #fff; }

  .text {
    font-size: 19px; }

  .main-text {
    padding: 10px; }

  .right-block {
    display: block;
    width: 600px;
    height: 100px; }

  .burger_nav {
    display: block;
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 400px;
    background-color: #FEE46B;
    transition: right .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    top: 105px;
    bottom: 0;
    height: 600px;
    margin-top: -25px;
    margin-left: 50px;
    width: 575px;
    height: 800px; }
    .burger_nav svg {
      width: 300px;
      margin-left: 272px;
      margin-top: 20px;
      color: #797979; }

  .haedds {
    display: none; }

  .contents {
    width: 575px;
    height: 5900px;
    margin-top: 100px; }

  .still {
    font-weight: 500;
    line-height: 32px;
    margin: 0 auto 16px;
    width: 500px;
    height: 192px;
    margin-left: 230px;
    font-size: 18px;
    margin-left: 0px; }

  .national img {
    width: 575px;
    height: 200px;
    margin-left: 0px; }

  .about p {
    font-size: 32px;
    margin-left: 220px;
    margin-top: 300px; }

  .l {
    display: none; }

  .foot {
    width: 575px;
    margin-top: 160px; }

  .fon img {
    width: 575px;
    height: 100%; }

  ul {
    list-style: none;
    margin: 0 auto; }

  li a {
    display: none; }

  nav {
    display: block;
    width: auto;
    margin: 0 auto; }

  .nav ul {
    overflow: hidden;
    padding: 0; }

  .nav li {
    float: left; }

  .nav a {
    display: block;
    padding: 0.7em;
    border-right: 1px solid #ffffff;
    color: #020202;
    font-size: 20px; }

  .text p {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 300;
    line-height: 44px;
    max-width: 689px;
    padding: 0 10px;
    height: 308px;
    width: 500px; }

  .lab,
  .labele,
  .labelee,
  .labels,
  .labell,
  .labe {
    margin-left: 10px; }

  .label {
    margin-top: 100px;
    margin-left: 10px; }

  .tel img,
  .his img,
  .organiz img,
  .mission img,
  .card img,
  .future img,
  .jobs img,
  .reports img {
    width: 575px;
    height: 200px;
    margin-left: 0px; }

  .history,
  .whow,
  .missiya,
  .nat,
  .t,
  .r,
  .lnternational,
  .k {
    font-weight: 500;
    line-height: 32px;
    margin: 0 auto 16px;
    width: 500px;
    margin-top: 50px;
    margin-left: 10px; }
    .history p,
    .whow p,
    .missiya p,
    .nat p,
    .t p,
    .r p,
    .lnternational p,
    .k p {
      width: 500px; }

  .con nav {
    padding: 0;
    list-style-type: none;
    margin: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(29, 30, 32, 0.8);
    display: inline-block;
    height: 86px;
    margin: 0 0 2px;
    padding: 0 0 0 60px;
    position: relative;
    width: 100%;
    z-index: 1 ul;
      z-index-border-bottom: 3px solid transparent;
      z-index-border-top: 3px solid transparent;
      z-index-color: #eaeaeb;
      z-index-display: inline-block;
      z-index-font-size: 14px;
      z-index-font-smoothing: antialiased;
      z-index-font-weight: 700;
      z-index-letter-spacing: .2em;
      z-index-line-height: 1.56em;
      z-index-margin: 0 15px 0 0;
      z-index-padding: 30px 5px;
      z-index-text-transform: uppercase; }
    .con nav .container ul {
      display: none; }
    .con nav .head {
      width: 560px;
      height: 60px; }
    .con nav .about p {
      font-size: 32px; }
    .con nav .logo svg {
      width: 170px;
      height: 97px;
      margin-left: 350px; }
    .con nav .tel img,
    .con nav .his img,
    .con nav .organiz img,
    .con nav .mission img,
    .con nav .card img,
    .con nav .future img,
    .con nav .jobs img,
    .con nav .reports img,
    .con nav .national img {
      width: 540px;
      height: 200px;
      display: block;
      margin-top: 50px; }
    .con nav .contents {
      width: 605px;
      height: 5500px; }
    .con nav .fon img {
      width: 540px; }
    .con nav .history p,
    .con nav .whow p,
    .con nav .missiya p,
    .con nav .nat p,
    .con nav .t p,
    .con nav .r p,
    .con nav .lnternational p,
    .con nav .k p {
      font-size: 18px;
      width: 521px;
      margin-left: -25px; }
    .con nav .cont_adaptive {
      display: block;
      background-color: black;
      height: 60px;
      position: relative;
      margin-left: 50px;
      width: 381px; }
    .con nav .email {
      width: 521px;
      width: 521px;
      margin-left: 60px; }
    .con nav .lab,
    .con nav .label,
    .con nav .labele,
    .con nav .labels,
    .con nav .labell,
    .con nav .labe {
      margin-left: 60px;
      font-size: 11px; }
    .con nav .labelee {
      width: 500px;
      margin-left: 60px; }
    .con nav .l {
      display: none; }
    .con nav .text p {
      width: 540px;
      font-size: 16px;
      margin-left: 60px; }

  .hidden-menu-ticker {
    display: block; }

  .list {
    width: 265px;
    height: 17.07px; }

  .plan_adaptive {
    width: 265px;
    height: 17.07px;
    margin-left: 250px; }

  .join_adaptive {
    margin-left: 250px; }

  .family_adaptive {
    margin-left: 250px; }

  .logo-footer svg {
    margin-top: 1105px;
    margin-left: 360px; } }
.cm-e-menu {
  background-color: #222;
  position: relative;
  z-index: 1000;
  color: #fff;
  font-weight: 200;
  margin-top: -200px; }

.cm-e-menu_one {
  background-color: #222;
  position: relative;
  z-index: 1000;
  color: #fff;
  font-weight: 200;
  display: flex; }

.cm-e-menu ul {
  margin: 0;
  padding: 0;
  height: 80px; }

.cm-e-menu li {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  list-style: none;
  -webkit-transition: background-color ease-in 300ms;
  -moz-transition: background-color ease-in 300ms;
  -ms-transition: background-color ease-in 300ms;
  -o-transition: background-color ease-in 300ms;
  transition: background-color ease-in 300ms; }

.cm-e-menu li:hover {
  background-color: #3d3d3d;
  text-shadow: 0 10px 10px #222; }

.cm-e-menu ul li.topmenu {
  display: inline-table;
  padding: .3em 1em;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 10px; }
  .cm-e-menu ul li.topmenu a {
    text-decoration: none;
    color: #eaeaeb; }

.cm-e-menu .topmenu ul {
  display: none;
  position: absolute;
  background-color: #020202;
  margin-left: -320px; }

.cm-e-menu li:hover > ul {
  display: table; }

.cm-e-menu ul.submenu {
  top: 100%;
  left: 0;
  padding-top: .5em;
  padding-bottom: .5em; }

.cm-e-menu ul.submenu .submenu {
  top: -.5em;
  left: 100%;
  font-size: 1em; }

.cm-e-menu ul.submenu li {
  padding: .2em 1.5em;
  font-size: .9rem; }

.cm-e-menu li.divider {
  padding: 0;
  border-top: 1px solid #343434;
  margin: .5rem auto .3rem;
  cursor: default; }

.cm-e-menu li.divider:hover {
  background-color: transparent; }

.cm-e-menu_one ul {
  margin: 0;
  padding: 0;
  margin-left: 200px; }

.submenu_one {
  margin-left: -320px; }

.cm-e-menu_one li {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  text-transform: capitalize !important;
  list-style: none;
  -webkit-transition: background-color ease-in 300ms;
  -moz-transition: background-color ease-in 300ms;
  -ms-transition: background-color ease-in 300ms;
  -o-transition: background-color ease-in 300ms;
  transition: background-color ease-in 300ms; }

.cm-e-menu_one li:hover {
  background-color: #3d3d3d;
  text-shadow: 0 10px 10px #222; }

.cm-e-menu_one ul li.topmenu {
  display: inline-table;
  padding: .3em 1em;
  font-size: 14px;
  margin-top: 10px; }
  .cm-e-menu_one ul li.topmenu a {
    text-decoration: none;
    color: #eaeaeb; }

.cm-e-menu_one .topmenu ul {
  display: none;
  position: absolute;
  background-color: #000;
  margin-left: -823px;
  height: 400px;
  width: 1200px; }

.cm-e-menu_one li:hover > ul {
  display: table; }

.cm-e-menu_one ul.submenu {
  top: 100%;
  left: 0;
  padding-top: .5em;
  padding-bottom: .5em; }

.cm-e-menu_one ul.submenu .submenu {
  top: -.5em;
  left: 100%;
  font-size: 1em; }

.cm-e-menu_one ul.submenu li {
  padding: .2em 1.5em;
  font-size: .9rem; }

.cm-e-menu_one li.divider {
  padding: 0;
  margin: .5rem auto .3rem;
  cursor: default; }

.cm-e-menu_one li.divider:hover {
  background-color: transparent; }

/*# sourceMappingURL=st.css.map */
