body{
    margin: 0;
    }

header{
height: 1120px;
width:  1680px;  
font-family: montserrat;
color: rgb(255, 255, 255);
margin: 0 auto;
background: url(адукар.png);

}

.a1{
    width: 1680px;
    height: 70px;
	display: flex;
}


.contact{
	font-size: 20px;
	font-weight: bold;
	padding: 50px;
	margin-left: 20px;
	}
	
	.h11{
	font-size: 20px;
	font-weight: bold;
	margin-top: -150px;
	}
	
	
	.logo {
		height: 50px;
		font-size: 40px;
		font-weight: bold;
		margin-left: 100px;
	}
	


nav {
	display: flex;
	width: 520px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	margin-left: 400px;	
}

.nav ul {
	overflow: hidden;
	display: flex;
	padding: 40px;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    
}

.nav a {
color: rgb(255, 255, 255);
text-shadow: 0 0 20px rgb(119, 118, 118); 
padding: 0.7em;

}

.nav a:hover {
background: #ffffff;
}



.content{
margin-bottom: 50px;    
margin-top: 290px;
}


p2{
font-weight: bold;
font-size: 50px;
padding: 220px;
}


p1{
font-size: 30px;
font-style:italic;
margin-left: 320px;
padding: 220px;

}

menu{
 display: flex;  
}


.content1{
margin-left: 150px;
display: flex;
margin-top: 50px;

}

img{
	color:white; 

}

.flex-item{
margin-top: 50px;
display: flex;
}

h3{
font-size: 16px;
height: 50px;
width: 250px;
}




.fot{
width: 1220px;
height: 105px;

}

.flex-item1{


}

h1{
font-size: 20px;
margin-left: 50px;
margin-left: 730px;
margin-top: 100px;

}

button{
    font-size: 20px;
    border-radius: 3px;
    background: #f80808; 
    padding: .7em 1.5em; 
    margin-top: 20px;
    margin-left: 690px;
    color:white;
}


