
body {
  font-family: - Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
  text-align: center;
} 

.modal:target {
  opacity: 1; 
  }
  

.modal-dialog {
  position: relative;
  width: auto;
  margin: 15px;
}

.modal-dialog {
    max-width: 550px;
    margin: 30px auto; /* отображения модального окна по центру */
}

.modal-content {
  position: relative;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .50rem;
}

.modal-content {
  min-width: 500px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal-title {
  margin-top: 25X;
  margin-bottom: 0px;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}

.close {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
  margin-right: 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}


.modal-body {
position: relative;
  padding: 15px;
  overflow: inherit;
}


.parent {
  border: 2px solid rgb(71, 12, 138); 
  padding: 0px; 
  width: 320px;
  top: 64px;
  left: calc (50%-160px);
  position: relative;
}


  .parent .parents {
  background: #a6a9da;
   width: 78%;
   top: 0;
   left: 0;
   bottom: 0;
   text-align: center;
   position: absolute;
  }

  .parent .text {
    height: 100%;
    width: 100%;
    font-family: roboto;
    position: relative;
    text-align: center;
    z-index: 7;
  }