
  .content {
    display: flex;  
    text-align: center;

  }

  h{
    color: #fff;
    font-size: 15px; 
    margin-bottom: 15px;
    padding: 5%;
  }

  .blok {
    width: 230px;
    background-color: rgb(109, 163, 224);
  }


  .parent	{
    display: flex;
    flex-direction: column-reverse;
    width: 230px;
  }

  .child{
    background-color: rgb(245, 202, 83);
    height: 230px; 
    width: 230px;
 }

  .child1{
    background-color: rgb(138, 216, 247);
    height: 230px; 
    width: 230px;
  }
  

  .blok3{
    background-color: rgb(221, 109, 184);
    width: 230px; 
  }





  .blok4{
    background-color: rgb(80, 233, 126);
    height: 230px; 
    width: 230px;
  }
  .blok5{
    background-color: rgb(67, 37, 114);
    height: 230px; 
    width: 230px;
 }



  p {
    color: #fff;
    font-size: 20px;
    font-weight: bold;

  }

img{
  width: 100px;
  height: 100px;
  margin: 30px;
}
  