
.checkbox-blue {
    display: inline-block;    
    height: 28px;    
    line-height: 28px;  
    margin-right: 10px;      
    position: relative;
    font-size: 14px;
  }


  .checkbox-blue .checkbox-blue-switch {
    display: inline-block;	
    height: 28px;
    width: 90px;
    box-sizing: border-box;
    position: relative;	
    border-radius: 20px;
    background: #848484;
  }
  .checkbox-blue .checkbox-blue-switch:before {
    content: attr(data-label-on);
    display: inline-block;
    box-sizing: border-box;		
    width: 45px;	
    padding: 0 12px;	
    position: absolute;
    top: 0;
    left: 45px;	
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    line-height: 28px;
  }
  .checkbox-blue .checkbox-blue-switch:after {
    content: attr(data-label-off);
    display: inline-block;
    box-sizing: border-box;	
    width: 44px;	
    border-radius: 10px;	
    position: absolute;
    top: 1px;
    left: 1px;	
    z-index: 5;
    text-align: center;
    background: rgb(241, 235, 240);
    line-height: 26px;
    font-size: 10px;
    color: rgb(35, 23, 202);	
   
  }
  .checkbox-blue input[type="checkbox"] {
    display: block;		
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .checkbox-blue input[type="checkbox"]:checked + .checkbox-blue-switch {
    background-color: #a148bd;
  }
  .checkbox-blue input[type="checkbox"]:checked + .checkbox-blue-switch:before {
    content: attr(data-label-off);
  
  }
  .checkbox-blue input[type="checkbox"]:checked + .checkbox-blue-switch:after {
    content: attr(data-label-on);
    color: #ee5a5a;
    
  }
   

  


