
.content{
    width: 670px;
    height: 100px;
    border: solid 3px #f447ff;
}

.element{
    height: 70px; 
    animation-name: football;  
    animation-duration: 2s;
}
  .element:hover {
    -webkit-transform: translateX(600px);
  
    }
        
@keyframes football{
	0%{
left:0;

	}

	100%{
left: 600px;
	}
}




