.a1{
  padding: 50px;
  margin-bottom: 50px;
}

a.knopka {
color: #fff; 
text-decoration: none; 
user-select: none;
background: rgb(21, 71, 209); 
border-radius: 5px;
padding: .7em 1.5em; 
margin: 50px;
position:top ;
width: 100px;
height: 100px;
background-color: #00f;

} 
  a.knopka:hover { 
    background: rgb(232,95,76); 
  }

  a.knopka:active { 
    background: rgb(152,15,0); 
  } 
  

body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	text-align: center;
	background-color:  #92c8f5 ;
  --checkbox-size: 100px;
	--bg-color: #92c8f5;
	--checkbox-color: #FFFFFF;
	--tick-color: #6157e2;
}

h1 {
	color:  #050505;
	margin: 40px 0;
}

label {
	display: inline-block;
	width: 100px;
	border: 10px solid  #FFFFFF;
	border-radius: 10%;


}

label:hover {
	border-color:  #7365c2;
}

input{
	position: absolute;
	left: -1000px;
}

.tick {
	position: relative;
	right: -40px;
	top:-20px;
	width: 30px;
	height: 80px;
	border-right: 25px solid #db14e2;
	border-bottom: 25px solid #db14e2;
	-webkit-transform: rotate(45deg) scale(0);
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	
}

.tick:before {
	position: absolute;
	border-radius: 50%;
}

.tick:after {
	position: absolute;
	right: 15px;
	border-radius: 50%;
}

input[type="checkbox"]:checked + label .tick {
	opacity: 1;
	-webkit-transform: rotate(45deg) scale(1);


input[type="checkbox"]:focus + label {
	-webkit-animation-name: cb-pop;
	        animation-name: cb-pop;
	-webkit-animation-duration: 400ms;
	        animation-duration: 400ms;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}

@keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}